/**
 * fonts.css
 * Custom fonts for Streamflow
 *
 * @author Fredrik Frodlund
 */

/* Glyphs
--------------------------------------------------------*/
@font-face {
  font-family: "StreamflowIcons";
  src: url("../fonts/StreamflowIcons.eot");
  src: url("../fonts/StreamflowIcons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/StreamflowIcons.woff") format("woff"),
       url("../fonts/StreamflowIcons.ttf") format("truetype"),
       url("../fonts/StreamflowIcons.svg#StreamflowIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}
