/* Global styling for Streamflow
============================================================================*/

/* Key colors
--------------------------------------------------------
#08c    -   blue
#cf0202 -   red
#00831f -   green
--------------------------------------------------------*/

/* Import resets */
@import 'basic.css';

@media screen, projection {
    
    /* LAYOUT FRAMEWORK
    ============================================================================================= */
    .body {
        width: 100%;
    }
    .header {
        background: #141414;
    }
    .main {
        margin-top: 3em;
    }
    .footer {
        background: #222;
    }
    .header-body,
    .main-body {
        margin: 0 auto;
        width: 71.4286em; /* 1000px */
    }
    
    
    /* Layout-1 - one full-width column
    --------------------------------------------------------*/
    .layout-1 .content-primary {
        float: none;
        width: 100%;
    }
    
    /* Layout-2 - two columns (also controls the header columns)
    --------------------------------------------------------*/
    .header-primary,
    .layout-2 .content-primary {
        float: left;
        width: 60%;
    }
    .header-secondary,
    .layout-2 .content-secondary {
        float: right;
        width: 35%;
    }
    
    
    /* HEADER
    ============================================================================================= */
    .header,
    .header h1 {
        color: #fff;
    }
    .header h1 {
        float: left;
        font-size: 1.1429em;
        padding: 28px 0;
    }
    .header a,
    .header a:visited {
        color: #08c;
        text-decoration: none;
    }
    .header a:hover,
    .header a:focus {
        text-decoration: underline;
    }
    
    /* Main search
    --------------------------------------------------------*/
    .main-search {
        float: right;
        margin-top: 18px;
    }
    .main-search input[type="text"] {
        background: #fff;
        border: none;
        border-radius: 5px;
        padding: 6px 10px;
    }
    .main-search button[type="submit"] {
        background-image: url("../i/icon-search.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding: 7px 28px;
    }
    .main-search button[type="submit"] span {
        display: block;
        text-indent: -9999px;
    }
    
    /* Logged in user
    --------------------------------------------------------*/
    .user-logged {
        background: url("../i/icon-logged.png") no-repeat 0 50%;
        display: block;
        padding: 6px 0 6px 20px;
        margin-top: 20px;
    }
    
    
    /* FLOATING SIDEBAR
    ============================================================================*/
    .sidebar {
        position: fixed;
    }
    
    /* Hide functions menu
    --------------------------------------------------------*/
    .functions-menu {
        position: relative;
    }
    
    /* Add new issue & Functions header
    --------------------------------------------------------*/
    .add-new-issue {
        background-color: #222;
        background-image: url("../i/icon-add-big.png");
        background-image: url("../i/icon-add-big.png"), -webkit-linear-gradient(top, #222 0%, #131313 100%);
        background-image: url("../i/icon-add-big.png"),    -moz-linear-gradient(top, #222 0%, #131313 100%);
        background-image: url("../i/icon-add-big.png"),     -ms-linear-gradient(top, #222 0%, #131313 100%);
        background-image: url("../i/icon-add-big.png"),      -o-linear-gradient(top, #222 0%, #131313 100%);
        background-image: url("../i/icon-add-big.png"),         linear-gradient(top, #222 0%, #131313 100%);
    }
    .add-new-issue,
    .functions-header .open-toolbar {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 0 5px 5px 0;
        display: block;
        text-indent: -9999px;
        height: 87px;
        width: 73px;
    }
    .add-new-issue {
        margin-bottom: 1em;
    }
    .functions-header {
        clear: both;
    }
    .functions-header h2 {
        background: #1a1a1a;
        border-right: 1px solid #222;
        color: #fff;
        float: left;
        font-size: 1.7143em;
        padding: 28px 62px 29px 20px;
        margin: 0;
    }
    .functions-header .open-toolbar {
        background-color: #222;
        background-image: url("../i/icon-functions-menu.png");
        background-image: url("../i/icon-functions-menu.png"), -webkit-linear-gradient(top, #222 0%, #131313 100%);
        background-image: url("../i/icon-functions-menu.png"),    -moz-linear-gradient(top, #222 0%, #131313 100%);
        background-image: url("../i/icon-functions-menu.png"),     -ms-linear-gradient(top, #222 0%, #131313 100%);
        background-image: url("../i/icon-functions-menu.png"),      -o-linear-gradient(top, #222 0%, #131313 100%);
        background-image: url("../i/icon-functions-menu.png"),         linear-gradient(top, #222 0%, #131313 100%);
    }
    .functions-header .open-toolbar {
        float: right;
    }
    .sub-category {
        background: #1a1a1a;
        border-top: 1px solid #4c4c4c;
        color: #fff;
        padding: 1em 1em 1em 1.4286em;
        width: 200px;
    }
    .sub-category h3 {
        color: inherit;
        font-size: 1.2857em;
    }
    .sub-category a {
        color: #08c;
        display: block;
        text-decoration: none;
    }
    .sub-category a span {
        background: #08c;
        color: #fff;
        display: inline-block;
        font-size: 1.7143em;
        margin-right: 0.25em;
        text-align: center;
        width: 2em;
    }
    .sub-category a:hover,
    .sub-category a:focus,
    .sub-category a.sel {
        background: #08c;
        color: inherit;
    }
    .sub-category a:hover span,
    .sub-category a:focus span,
    .sub-category a.sel span {
        background: #fff;
        color: #08c;
    }
    .sub-category ul {
        list-style: none;
        margin: 1.4286em 0 1em;
    }
    .sub-category li {
        margin: 0 0 1em;
    }
    
    
    /* ISSUE OVERVIEW
    ============================================================================*/
    .issues-overview {
        margin: 4em auto 0;
        width: 70%;
    }
    .issues-overview h2 {
        font-size: 1.1429em;
        font-weight: bold;
        padding-left: 5.3em;
    }
    .due-date-heading {
        background: url("../i/due-date-divider.png") repeat-x 0 49%;
        color: #999;
        font-size: 0.7857em;
        margin: 0 0 0.2em;
    }
    .due-date-heading span {
        background: #fff;
        padding-right: 5px;
    }
    .issue-list {
        list-style: none;
        margin: 0 0 2em;
    }
    .issue-item {
        background: #eaeaea;
        border-radius: 5px;
        margin: 0 0 3px 57px;
    }
    .issue-item.set,
    .issue-item.overdue {
        margin-left: 0;
    }
    .issue-item:hover {
        background: #f0f0f0;
    }
    .issue-item .due-date,
    .issue-item .issue-description,
    .issue-item .issue-actions {
        display: inline-block;
        vertical-align: middle;
    }
    
    /* Due date
    --------------------------------------------------------*/
    .issue-item .due-date {
        background: #afafaf;
        border-radius: 5px 0 0 5px;
        color: #fff;
        line-height: 1.1;
        min-height: 5em;
        text-align: center;
        width: 2%;
    }
    .issue-item .due-date span {
        display: block;
        font-size: 2.571em;
    }
    .issue-item.set .due-date,
    .issue-item.overdue .due-date {
        width: 5em;
    }
    
    /* Date set */
    .issue-item.set .due-date {
        background: #00831f;
        padding: 26px 0;
    }
    
    /* Date overdue */
    .issue-item.overdue .due-date {
        background: #cf0202;
        padding: 10px 0;
    }
    
    /* Issue details
    --------------------------------------------------------*/
    .issue-item .issue-description {
        padding: 0.2em 0.8em;
        width: 35em;
    }
    .issue-item .meta,
    .issue-item .creator {
        font-size: 0.9286em;
    }
    .issue-item h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }
    
    /* Actions column
    --------------------------------------------------------*/
    .issue-actions {
        border-left: 1px solid #ccc;
        font-size: 0.8571em;
    }
    .issue-actions div {
        border-left: 1px solid #fff;
        padding: 0.5em;
    }
    .issue-actions span {
        display: block;
        padding: 2px 10px;
    }
    .issue-actions .updated {
        background: #00831f;
        color: #fff;
    }
    
    
    /* SINGLE ISSUE VIEW
    ============================================================================================= */
    .single-issue {
        margin: 0 0 2em;
    }
    
    /* Issue header
    --------------------------------------------------------*/
    .issue-header {
        border-bottom: 1px solid #333;
        margin: 0 0 0.5em;
    }
    .issue-header .id,
    .issue-header .choose-type,
    .issue-header .wiki-link {
        display: inline-block;
    }
    .issue-header .id {
        font-size: 1.1429em;
        font-weight: bold;
        padding: 0 10px;
    }
    /* TODO: Refactor this into global forms */
    .issue-header .choose-type {
        background: #fff;
        padding: 2px 8px;
        margin-bottom: -2px;
    }
    .issue-header .choose-type input[type="text"] {
        background: #eaeaea url("../i/icon-search-blue.png") no-repeat 5px 50%;
        border: none;
        padding: 5px 4px 5px 28px;
    }
    .issue-header .wiki-link a {
        background: url("../i/icon-info.png") no-repeat 0 50%;
        display: block;
        padding: 5px 0 5px 34px;
        text-decoration: none;
    }
    
    /* Issue body
    --------------------------------------------------------*/
    .issue-body {
        background: #eaeaea;
        border-radius: 0 5px 5px 0;
        display: table;
        margin: 0 0 0.5em;
    }
    .issue-body .due-date,
    .issue-body .issue-description {
        display: table-cell;
    }
    
    /* Issue due date (TODO: Refactor due date color codes into global) */
    .issue-body .due-date {
        background: #afafaf;
        border-radius: 5px 0 0 5px;
        color: #fff;
        line-height: 1.1;
        min-height: 5em;
        text-align: center;
        vertical-align: middle;
        width: 12%;
    }
    .issue-body .due-date span {
        display: block;
        font-size: 2.571em;
    }
    .issue-body .due-date.set {
        background: #00831f;
    }
    .issue-body .due-date.overdue {
        background: #cf0202;
    }
    
    /* Issue description */
    .issue-body .issue-description {
        padding: 1em 0.75em;
        vertical-align: top;
        width: 80%;
    }
    .issue-body .issue-description h2 {
        font-size: 1em;
        font-weight: bold;
    }
    
    
    /* Issue tags
    --------------------------------------------------------*/
    .issue-tags {
        margin: 0 0 0 0.5em;
    }
    .issue-tags > span,
    .issue-tags a {
        background: #eaeaea;
        border-radius: 5px;
        display: inline-block;
        float: left;
        font-weight: bold;
        margin: 0 0.5em 0.5em 0;
        padding: 4px 12px;
        text-decoration: none;
    }
    .issue-tags > span > span {
        float: left;
        padding-right: 20px;
    }
    .issue-tags .new-tag {
        background: #08c url("../i/icon-add-white.png") no-repeat 50% 50%;
        border-radius: 0 5px 5px 0;
        float: right;
        margin: -4px -12px;
        padding: 4px 2px;
        text-indent: -9999px;
    }
    
    /* Module: Formulär
    --------------------------------------------------------*/
    .m-issue-forms {
        
    }
    .m.m-issue-forms h2 {
        float: none;
    }
    
    .m-issue-forms form {
        margin: 1em 0;
    }
    
    /* Form tabs */
    .form-tabs {
        float: none;
    }
    .form-tabs li {
        background: none;
        float: left;
    }
    .form-tabs a {
        background: #eaeaea;
        border-radius: 5px 5px 0 0;
        display: block;
        font-weight: bold;
        margin-right: 0.5em;
        padding: 0.25em 1em;
        text-decoration: none;
    }
    .form-tabs a:hover,
    .form-tabs a:focus,
    .form-tabs a:active {
        background-color: #f2f2f2;
    }
    .form-tabs a.sel {
        background: #08c;
        color: #fff;
        font-weight: normal;
    }
    /* Tab has versions */
    .has-versions a {
        border-radius: 5px 0 0 0;
        float: left;
        margin-right: 0;
    }
    .has-versions .versions-drop {
        background: #ccc url("../i/icon-dropdown.png") no-repeat 50% 50%;
        border-radius: 0 5px 0 0;
        float: right;
        margin-right: 0.5em;
        padding: 0.25em 0;
        text-indent: -9999px;
        width: 1.75em;
    }
    .has-versions .versions-drop:hover,
    .has-versions .versions-drop:focus,
    .has-versions .versions-drop:active {
        background-color: #d8d8d8;
    }
    
    
    /* MODULES
    ============================================================================================= */
    /* Module: Allmänt
    --------------------------------------------------------*/
    .m-general {
        
    }
    
    /* Module: Konversationer
    --------------------------------------------------------*/
    .m-convos .date {
        font-size: 0.8571em;
    }
    .m-convos li {
        background: #e8e8e8;
        position: relative;
    }
    /* TODO: Refactor these into a global icon system */
    .convo-status {
        position: absolute;
        right: 0.75em;
        top: 0.75em;
    }
    .convo-status .icon {
        background-position: 0 50%;
        background-repeat: no-repeat;
        color: #666;
        padding: 0 0 0 30px;
    }
    .convo-status .icon.users {
        background-image: url("../i/icon-user.png");
    }
    .convo-status .icon.msgs {
        background-image: url("../i/icon-msgs.png");
    }
    
    /* Module: Kontakter
    --------------------------------------------------------*/
    .m-contacts a {
        color: inherit;
        text-decoration: none;
    }
    
    /* Module: Ärendelogg
    --------------------------------------------------------*/
    .log-table tbody tr {
        background: #eee;
    }
    .log-table tbody tr.even {
        background: #fff;
    }
    
    /* Module: Bifogade filer
    --------------------------------------------------------*/
    .m-attachments .delete {
        float: right;
    }
    
    /* Module: Checklista
    --------------------------------------------------------*/
    .m-check-list .check-list li {
        padding: 0.25em;
        margin: 0;
    }
    .m-check-list .check-list li.even {
        background: #fff;
    }
    
    
    /* GLOBAL CLASSES
    ============================================================================================= */
    /* Modal overlay
    --------------------------------------------------------*/
    .overlay {
        background: rgba(0,0,0,0.7);
        /*display: none;*/
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 8888;
    }
    
    /* Modal window
    --------------------------------------------------------*/
    .modal-window {
        background: #eee;
        /*display: none;*/
        margin: 1em;
        padding: 1em;
        position: fixed;
        max-width: 900px;
        width: 96%;
        z-index: 9999;
    }
    
    /* Toolbar
    --------------------------------------------------------*/
    .toolbar {
        margin: 0 0 1.5em;
    }
    
    /* Module
    --------------------------------------------------------*/
    .m {
        margin: 0 0 2em;
    }
    .m-h {
        border-bottom: 1px solid #999;
        margin-bottom: 5px;
        overflow: hidden;
    }
    .m-c {
        
    }
    .m .m-box {
        background: #e8e8e8;
    }
    .m .m-box,
    .m-c li {
        padding: 0.75em;
    }
    .m-box li {
        padding: 0;
    }
    .m ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .m-c li {
        margin: 0 0 0.2855em;
    }
    .m h2 {
        float: left;
        font-size: 1.1429em;
        font-weight: bold;
        padding-left: 0.75em;
    }
    .m .add-item {
        background: url("../i/icon-add-blue.png") no-repeat 100% 50%;
        display: block;
        float: right;
        padding-right: 20px;
        margin-right: 0.75em;
        text-decoration: none;
    }
    .m h3 {
        font-size: 1em;
        font-weight: bold;
    }
    
    /* Styled link buttons
    --------------------------------------------------------*/
    a.btn {
        background-color: #08c;
        border-radius: 5px;
        color: #fff;
        padding: 4px 14px;
        text-decoration: none;
    }
    a.btn:hover,
    a.btn:focus {
        background-color: #0056ae;
    }
    
    /* Inactive */
    a.btn.inactive {
        background-color: #a7a7a7;
        color: #ccc;
        cursor: default;
    }
    
    /* Inline */
    a.btn.inline {
        display: inline-block;
    }
    
    /* Align right */
    .btn.right {
        float: right;
        margin: 0;
    }
    
    /* Has dropdown */
    .btn.dropdown {
        background-image: url("../i/dropdown.png");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        padding-right: 30px;
    }
    
    /* Zebra lists (TODO: Rename?)
    --------------------------------------------------------*/
    .zebra-list li {
        padding: 0.25em 0.75em;
        margin: 0;
    }
    .odd {
        background: #e8e8e8;
    }
    
    /* Delete button
    --------------------------------------------------------*/
    .delete {
        background: url("../i/icon-delete.png") no-repeat 50% 50%;
        display: inline-block;
        text-indent: -9999px;
        height: 20px;
        width: 20px;
    }
    
    /* Block links (remove standard link decorations)
    --------------------------------------------------------*/
    a.block-link:link,
    a.block-link:visited,
    a.block-link:hover,
    a.block-link:focus,
    a.block-link:active {
        color: inherit !important;
        display: block;
        text-decoration: none !important;
    }
    
    
    /* FORMS
    ============================================================================================= */
    .form-general {
        margin: 1em 0;
    }
    form label {
        display: block;
        margin: 0 4px 0 0;
    }
    label strong {
        display: block;
        color: #900;
    }
    .disabled label {
        color: #999;
    }
    label span,
    label em {
        margin: 0 0 0 0.5em;
        color: #d65609;
        font-weight: normal;
        font-style: normal;
    }
    input[type="text"],
    input[type="password"],
    textarea {
        background-color: #eaeaea;
        border: none;
        border-radius: 3px;
        padding: 0.5em;
    }
    button {
        background: #08c;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 4px 10px;
    }

    /* Placeholder styling for gecko */
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: #888;
    }

    /* Placeholder styling for webkit */
    input::-webkit-input-placeholder,
    textarea:-webkit-input-placeholder {
        color: #888;
    }

    /* Placeholder styling for browser without native support */
    input.placeholder,
    textarea.placeholder {
        color: #888;
    }
    .form-general input,
    .form-general select,
    .form-general textarea {
        margin: 0;
    }
    .form-general .alt {
        display: inline;
        margin: 0 12px 0 0;
    }
    .text,
    .radio,
    .checkbox,
    .select {
        margin: 0 0 6px;
    }
    .select select {
        max-width: 100%;
    }
    .text textarea {
        height: 120px;
    }
    input[type="submit"] {
        width: auto !important;
    }
    .form-general fieldset {
        margin: 0;
        padding: 5px 8px;
        border: 1px solid #ddd;
    }
    
    
    /* Form columns
    -------------------------------------------------------- */
    form .row {
        margin-bottom: 0.5em;
    }
    .row .text input,
    .row textarea {
        width: 100%;
    }
    .row {
        margin-bottom: 20px;
    }
    .col {
        float: left;
        width: 50%;
        padding: 0 5px;
    }
    .col-1 {
        padding-left: 0;
    }
    .row .small {
        width: 25%;
    }
    .row .medium {
        width: 50%;
    }
    .row .large {
        width: 75%;
    }
    .row .hr,
    .row .full {
        padding: 0;
        width: 100%;
    }
    .cols-2 .col-2,
    .cols-3 .col-3,
    .cols-4 .col-4,
    .cols-5 .col-5,
    .cols-6 .col-6 {
        padding-right: 0;
    }
    .row .submit-area {
        margin-top: 1.5385em;
    }
    .cols-1 .submit-area {
        margin: 0;
        width: 98%;
    }
    .checkbox,
    .radio {
        white-space: nowrap;
    }
    .checkbox input,
    .radio input {
        width: auto !important;
        vertical-align: middle;
    }
    .checkbox label,
    .radio label {
        display: inline;
        vertical-align: middle;
        white-space: normal;
    }
    .alt label {
        display: inline;
        font-weight: normal;
    }
    .text.error label,
    .error legend {
        color: #900;
    }
    
    
/* END @media screen,projection */
}

@media screen and (max-width: 1000px) {
    
    /* LAYOUT FRAMEWORK
    ============================================================================================= */
    .header-body,
    .main-body {
        margin: 0 auto;
        width: 100%;
    }
    
/* END @media screen and (max-width: 1000px) */
}

@media screen and (max-width: 882px) {
    
    /* Centered body and a little space on the sides
    --------------------------------------------------------*/
    .body {
        margin: 0 auto;
        width: 98%;
    }
    
    /* Layout-2 - two columns (also controls the header columns)
    --------------------------------------------------------*/
    .header-primary,
    .layout-2 .content-primary,
    .header-secondary,
    .layout-2 .content-secondary {
        float: none;
        width: 100%;
    }
    .header-primary,
    .header-secondary {
        overflow: hidden;
        width: 100%;
    }
    
    
    /* HEADER
    ============================================================================================= */
    .header {
        padding: 0.25em 1em;
    }
    .header h1 {
        float: none;
        padding: 0;
    }
    .header a,
    .header a:visited {
        color: #08c;
        text-decoration: none;
    }
    .header a:hover,
    .header a:focus {
        text-decoration: underline;
    }
    
    /* Main search
    --------------------------------------------------------*/
    .main-search {
        float: none;
        margin-top: 1em;
    }
    
    /* Logged in user
    --------------------------------------------------------*/
    .user-logged {
        margin-top: 0.25em;
    }
    
}
