/* Global styling for Streamflow
============================================================================*/

/* Import resets */
@import 'basic.css';

@media screen, projection {
    
    /* LAYOUT FRAMEWORK
    ============================================================================================= */
    .body {
        width: 100%;
    }
    .header {
        background: #141414;
    }
    .main {
        margin-top: 3em;
    }
    .footer {
        background: #222;
    }
    .header-body,
    .main-body {
        margin: 0 auto;
        width: 71.4286em; /* 1000px */
    }
    
    
    /* Layout-2 - two columns (also controls the header columns)
    --------------------------------------------------------*/
    .header-primary,
    .layout-2 .content-primary {
        float: left;
        width: 45em;
    }
    .header-secondary,
    .layout-2 .content-secondary {
        float: right;
        width: 23em;
    }
    
    
    /* HEADER
    ============================================================================================= */
    .header,
    .header h1 {
        color: #fff;
    }
    .header h1 {
        float: left;
        font-size: 1.1429em;
        padding: 28px 0;
    }
    .header a,
    .header a:visited {
        color: #08c;
        text-decoration: none;
    }
    .header a:hover,
    .header a:focus {
        text-decoration: underline;
    }
    
    /* Main search
    --------------------------------------------------------*/
    .main-search {
        float: right;
        margin-top: 18px;
    }
    .main-search input[type="text"] {
        background: #fff;
        border: none;
        border-radius: 5px;
        padding: 6px 10px;
    }
    .main-search button[type="submit"] {
        background-image: url("../i/icon-search.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding: 7px 28px;
    }
    .main-search button[type="submit"] span {
        display: block;
        text-indent: -9999px;
    }
    
    /* Logged in user
    --------------------------------------------------------*/
    .user-logged {
        background: url("../i/icon-logged.png") no-repeat 0 50%;
        display: block;
        padding: 6px 0 6px 20px;
        margin-top: 20px;
    }
    
    
    /* ISSUE OVERVIEW
    ============================================================================*/
    .issues-overview {
        margin: 4em auto 0;
        width: 50em; /* 700px */
    }
    .issues-overview h2 {
        font-size: 1.1429em;
        font-weight: bold;
        padding-left: 5.3em;
    }
    .due-date-heading {
        background: url("../i/due-date-divider.png") repeat-x 0 49%;
        color: #999;
        font-size: 0.7857em;
        margin: 0 0 0.2em;
    }
    .due-date-heading span {
        background: #fff;
        padding-right: 5px;
    }
    .issue-list {
        list-style: none;
        margin: 0 0 2em;
    }
    .issue-item {
        background: #eaeaea;
        border-radius: 5px;
        margin: 0 0 3px 57px;
    }
    .issue-item.set,
    .issue-item.overdue {
        margin-left: 0;
    }
    .issue-item:hover {
        background: #f0f0f0;
    }
    .issue-item .due-date,
    .issue-item .issue-details,
    .issue-item .issue-actions {
        display: inline-block;
        vertical-align: middle;
    }
    
    /* Due date
    --------------------------------------------------------*/
    .issue-item .due-date {
        background: #afafaf;
        border-radius: 5px 0 0 5px;
        color: #fff;
        line-height: 1.1;
        min-height: 5em;
        text-align: center;
        width: 2%;
    }
    .issue-item.set .due-date,
    .issue-item.overdue .due-date {
        width: 10%;
    }
    .issue-item.set .due-date {
        background: #00831f;
        padding: 26px 0;
    }
    .issue-item.overdue .due-date {
        background: #cf0202;
        padding: 10px 0;
    }
    .issue-item .due-date span {
        display: block;
        font-size: 2.571em;
    }
    
    /* Issue details
    --------------------------------------------------------*/
    .issue-details {
        padding: 0.2em 0.8em;
        width: 35em;
    }
    .issue-details .meta,
    .issue-details .creator {
        font-size: 0.9286em;
    }
    .issue-details h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }
    
    /* Actions column
    --------------------------------------------------------*/
    .issue-actions {
        border-left: 1px solid #ccc;
        font-size: 0.8571em;
    }
    .issue-actions div {
        border-left: 1px solid #fff;
        padding: 0.5em;
    }
    .issue-actions span {
        display: block;
        padding: 2px 10px;
    }
    .issue-actions .updated {
        background: #00831f;
        color: #fff;
    }
    
    
    /* MODULES
    ============================================================================================= */
    /* Module: Allmänt
    --------------------------------------------------------*/
    .m-general {
        
    }
    
    /* Module: Konversationer
    --------------------------------------------------------*/
    .m-convos .date {
        font-size: 0.8571em;
    }
    /* TODO: Maybe refactor these into a global icon system */
    .m-convos li {
        position: relative;
    }
    .convo-status {
        position: absolute;
        right: 0.75em;
        top: 0.75em;
    }
    .convo-status .icon {
        background-position: 0 50%;
        background-repeat: no-repeat;
        color: #666;
        padding: 0 0 0 30px;
    }
    .convo-status .icon.users {
        background-image: url("../i/icon-user.png");
    }
    .convo-status .icon.msgs {
        background-image: url("../i/icon-msgs.png");
    }
    
    /* Module: Kontakter
    --------------------------------------------------------*/
    .m-contacts a {
        color: inherit;
        text-decoration: none;
    }
    
    /* Module: Ärendelogg
    --------------------------------------------------------*/
    .log-table tbody tr {
        background: #eee;
    }
    .log-table tbody tr.even {
        background: #fff;
    }
    
    /* Module: Bifogade filer
    --------------------------------------------------------*/
    .m-attachments {
        
    }
    
    /* Module: Checklista
    --------------------------------------------------------*/
    .m-check-list .check-list li {
        padding: 0.25em;
        margin: 0;
    }
    .m-check-list .check-list li.even {
        background: #fff;
    }
    
    
    /* GLOBAL CLASSES
    ============================================================================================= */
    /* Toolbar
    --------------------------------------------------------*/
    .toolbar {
        margin: 0 0 1.5em;
    }
    
    /* Module
    --------------------------------------------------------*/
    .m {
        margin: 0 0 2em;
    }
    .m-h {
        border-bottom: 1px solid #999;
        margin-bottom: 5px;
        overflow: hidden;
    }
    .m-c {
        
    }
    .m .m-box,
    .m li {
        background: #e8e8e8;
        padding: 0.75em;
    }
    .m-box li {
        padding: 0;
    }
    .m ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .m li {
        margin: 0 0 0.2855em;
    }
    .m h2 {
        float: left;
        font-size: 1.1429em;
        font-weight: bold;
        padding-left: 0.75em;
    }
    .m .add-item {
        background: url("../i/icon-add-item.png") no-repeat 100% 50%;
        display: block;
        float: right;
        padding-right: 20px;
        margin-right: 0.75em;
        text-decoration: none;
    }
    .m h3 {
        font-size: 1em;
        font-weight: bold;
    }
    
    /* Styled link buttons
    --------------------------------------------------------*/
    a.btn {
        background-color: #08c;
        border-radius: 5px;
        color: #fff;
        padding: 4px 14px;
        text-decoration: none;
    }
    a.btn:hover,
    a.btn:focus {
        background-color: #0056ae;
    }
    /* Align right */
    .btn.right {
        float: right;
        margin: 0;
    }
    /* Has dropdown */
    .btn.dropdown {
        background-image: url("../i/dropdown.png");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        padding-right: 30px;
    }
    
    /* Zebra lists
    --------------------------------------------------------*/
    .zebra-list li {
        padding: 0.25em 0.75em;
        margin: 0;
    }
    .zebra-list li.even {
        background: #fff;
    }
    
    /* Block links (remove standard link decorations)
    --------------------------------------------------------*/
    a.block-link:link,
    a.block-link:visited,
    a.block-link:hover,
    a.block-link:focus,
    a.block-link:active {
        color: inherit !important;
        display: block;
        text-decoration: none !important;
    }
    
    
    /* GLOBAL ELEMENTS
    ============================================================================================= */
    button {
        background: #08c;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 4px 10px;
    }
    
    
/* END @media screen,projection */
}

@media screen and (max-width: 1000px) {
    
    /* LAYOUT FRAMEWORK
    ============================================================================================= */
    .header-body,
    .main-body {
        margin: 0 auto;
        width: 100%;
    }
    
/* END @media screen and (max-width: 1000px) */
}