/**
 * main.css
 *
 * Global stylesheet for Streamflow
 */

/**
 * Color key
 * ------------------------------------
 * #08c    -   blue
 * #0af    -   blue highlight
 * #cf0202 -   red
 * #00831f -   green
 * #ff7c00 -   orange
 * ------------------------------------
 */

@media screen, projection {

  /**
   * LAYOUT FRAMEWORK
   * ==========================================================================
   */
  html {
    background-color: #e8e8e8;
  }
  .body {
    background-color: #e8e8e8;
    width: 100%;
  }
  .header {
    z-index: 200;
  }
  .footer {
    background-color: #222;
  }
  .main {
    position: relative;
  }
  .header-body,
  .main-body {
    padding: 0 6em 1em 6em;
  }
  .main-body {
      background-color: #e8e8e8;
  }

  /**
   * Layout-1 - one full-width column
   * ------------------------------------------------------
   */
  .layout-1 .content-primary {
    float: none;
    width: 100%;
  }

  /**
   * Layout-2 - two columns
   * ------------------------------------------------------
   */
  .layout-2 .content-primary {
    float: right;
    width: 60%;
    padding-left: 2em;
  }
  .layout-2 .content-secondary {
    background-color: #d7d7d7;
    float: left;
    padding: 12px 8px;
    width: 340px;
  }


  /**
   * HEADER
   * ==========================================================================
   */
  .header {
    border-top: 3px solid #00831f;
    text-align: right;
    width: 100%;
  }
  .header h1 {
    color: #fff;
  }
  .header a,
  .header a:visited {
    text-decoration: none;
  }
  .header a:hover,
  .header a:focus {
    text-decoration: underline;
  }

  /**
   * Client name
   * ------------------------------------------------------
   */
  .client-name {
    background-color: #141414;
    float: left;
    padding: 1em 1em 1.55em;
    text-align: left;
    width: 340px;
  }
  .client-name h1 {
    font-size: 1.2857em;
    margin: 0;
  }

  /**
   * Main search
   * ------------------------------------------------------
   */
  .main-search {
    position: relative;
    display: inline-block;
    margin-top: 2em;
    width: 22em;
  }
  .main-search fieldset {
    border: none;
    margin: 0;
  }
  .main-search input[type="search"],
  .main-search button[type="submit"] {
    padding: 0.5em 0.4em;
  }
  .main-search input[type="search"] {
    background: #fff;
    border: none;
    border-radius: 5px;
    padding-right: 5em;
    height: 35px;
    width: 100%;
  }
  .main-search button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
    height: 35px;
    width: 4em;
  }
  .main-search button[type="submit"] .icon-search:before {
    color: #fff;
  }
  .main-search button[type="submit"] span {
    display: inline-block;
    text-indent: -9999px;
  }
  .main-search .search-terms {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + .5em);
    z-index: 1;
    margin: 0 auto;
    padding: .75em 1em;
    max-width: 300px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background: #f0f0f0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    text-align: left;
    transform: translateY(.25em);
  }
  .main-search .search-terms.ng-hide {
    opacity: 0;
    transform: translateY(-.5em);
  }
  .main-search .search-terms.ng-hide-remove,
  .main-search .search-terms.ng-hide-add {
    transition: opacity ease .2s,
                transform ease .2s;
  }
  .main-search .search-terms:before,
  .main-search .search-terms:after {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
  }
  .main-search .search-terms:before {
    top: -18px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #aaa;
  }
  .main-search .search-terms:after {
    top: -17px;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 17px solid #f0f0f0;
  }
  .main-search .search-terms button {
    font-size: .8em;
    padding: 2px 6px;
    margin: 0 4px 2px 0;
  }
  .main-search .due-date-divider span {
    background: #f0f0f0;
  }
  .main-search h4 {
    color: #999;
    font-size: .75em;
    border-bottom: 1px solid #999;
    margin-bottom: .5em;
  }

  /**
   * User area
   * ------------------------------------------------------
   */
  .logged-in {
    display: block;
    padding: 6px 0;
  }
  .logged-in:before {
    font-size: 1.2857em;
    padding-right: 0.25em;
  }
  .logged-in i {
    font-size: 1.4em;
    margin-right: 0.3em;
  }
  .user-area {
    float: left;
    width: 100%;
  }
  .user-area a:first-child {
    float: right;
  }
  .user-area a {
    color: #08c;
  }

   /**
    * Profile edit
    * TODO replace IDs with classes
    * TODO create representation in prototype
    * -----------------------------------------------------
    */
  #profile-content {
    margin: auto;
    float: none !important;
  }

  #profile-holder {
    margin: auto;
    max-width: 600px;
  }
  .content-holder {
    margin: auto;
    padding: 0 65px 0 65px;
  }


  /**
   * NAVIGATION MENU
   * ==========================================================================
   */
  .navigation {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .navigation a {
    color: #08c;
  }
  .navigation a:hover,
  .navigation a:focus,
  .navigation a:active {
    color: #fff;
  }

  .navigation .add-new-issue .icon-plus {
    line-height: 1.7em;
  }

  /**
   * Hide functions menu
   * ------------------------------------------------------
   */
  .functions-menu {
    margin-left: -200px;

    -webkit-transition: margin-left .2s ease-in-out;
            transition: margin-left .2s ease-in-out;
  }
  .functions-menu.open {
    margin-left: 0;
  }

  .functions-menu .sub-categories {
    display: none;
  }

  .functions-menu.open .sub-categories {
    display: block;
  }

  /**
   * Add new issue & Functions header
   * ------------------------------------------------------
   */
  .add-new-issue,
  .functions-header .open-toolbar {
    background-color: #141414;
    border-radius: 0 5px 5px 0;
    display: block;
    font-size: 1.7143em;
    height: 54px;
    padding-top: 0.25em;
    text-align: center;
    text-decoration: none;
    width: 54px;
  }
  .add-new-issue {
    margin-bottom: 0.25em;
  }
  .functions-header {
    clear: both;
  }
  .functions-header h2 {
    background-color: #141414;
    color: #fff;
    float: left;
    font-size: 1.7143em;
    padding: 28px 65px 29px 20px;
    margin: 0;
    width: 200px;
  }
  .functions-header h2 a {
    color: inherit;
    text-decoration: none;
  }
  .functions-header .open-toolbar {
    float: right;
    font-size: 2.5em;
    line-height: 1;
  }
  /* Needed to make functions menu close properly in IE*/
  .sub-categories {
    position: absolute;
  }
  .sub-category {
    background-color: #141414;
    border-top: 1px solid #4c4c4c;
    color: #fff;
    padding: 0.75em 1.4286em;
    width: 200px;
  }
  .sub-category h3 {
    color: inherit;
    font-size: 1.2857em;
  }
  .sub-category a {
    color: inherit;
    display: block;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .sub-category a span {
    background-color: #08c;
    color: #fff;
    display: inline-block;
    margin-right: 0.25em;
    text-align: center;
    width: 2em;
  }
  .sub-category a:hover,
  .sub-category a:focus,
  .sub-category a.sel {
    background-color: #08c;
    color: inherit;
  }
  .sub-category a:hover span,
  .sub-category a:focus span,
  .sub-category a.sel span {
    background-color: #fff;
    color: #08c;
  }
  .sub-category ul {
    list-style: none;
    margin: 0.5em 0 0;
  }
  .sub-category li {
    margin: 0 0 0.35em;
  }

  /**
   * CASELIST VIEW
   * ==========================================================================
  */
  .droplistSorting {
    min-height: 20px;
    float:right;
    margin-top: 0.4em;
  }
  .droplistSorting.leftList {
    margin-right: 1em;
  }
  .droplistLabel {
    display: block;
    font-weight: 700;
  }
  .droplistSelect {
    width: 100%;
  }
  #groupingHeader {
    margin-top: 0.8em;
  }
  #groupingHeader:first-letter {
    text-transform: uppercase;
  }
  #priorityHeader::first-letter {
    visibility: hidden;
  }
  .caselistItem {
    margin-bottom: 0.3em;
  }

  /**
   * ISSUE OVERVIEW
   * ==========================================================================
   */
  .issues-overview {
    margin: 0 auto;
    max-width: 50em; /* 700px */
    transform: translateY(0);
  }

  .issues-overview.ng-hide {
    opacity: 0;
    transform: translateY(2em);
  }
  .issues-overview.ng-hide-remove,
  .issues-overview.ng-hide-add {
    transition: opacity ease .5s,
                transform ease .5s;
  }
  .issues-overview h2 {
    margin-bottom: 1em;
  }
  .issues-overview h3 {
    font-size: 1.1429em;
    font-weight: bold;
  }
  .issues-overview h3 .results {
    float: right;
    font-weight: normal;
    font-size: 0.7857em;
    color: #999;
    line-height: 2;
  }
  .issues-overview .show-more {
    text-align: center;
    margin-bottom: 2em;
  }
  .issues-overview .show-more button {
    width: 100%;
    max-width: 240px;
    padding: 10px;
  }
  .due-date-divider {
    background: url("../i/due-date-divider.png") repeat-x 0 49%;
    color: #999;
    font-size: 0.7857em;
    margin: 0 0 0.2em;
  }
  .due-date-divider span {
    background-color: #eaeaea;
    padding-right: 5px;
  }
  .issue-list {
    list-style: none;
    margin: 0 0 2em;
  }
  .issue-item {
    border-radius: 5px;
    margin: 0 0 3px 57px;
  }
  .issue-item.set,
  .issue-item.overdue,
  .issue-item.open,
  .issue-item.closed {
    margin-left: 0;
  }
  .issue-item:hover {
    background-color: #f0f0f0;
  }
  .issues-overview .issue-item a.block-link {
    display: table-row;
  }
  .issue-item .due-date,
  .issue-item .issue-description,
  .issue-item .issue-actions {
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
  }
  #issue-owner {
    min-width: 200px;
  }

  /**
   * Issue banner
   * ------------------------------------------------------
   */
  .issue-banner {
    background-color: #00831f;
    margin-bottom: 1em;
    padding: 0.55em 6em;
    text-align: left;
    min-height: 35px;
  }
  .issue-banner h2 {
    margin: 0;
    font-size: 1.0714em;
    color: #fff;
  }

  /**
   * Due date
   * ------------------------------------------------------
   */
  .issue-item .due-date {
    background-color: #afafaf;
    border-radius: 5px 0 0 5px;
    color: #fff;
    line-height: 1.1;
    min-height: 5em;
    text-align: center;
    min-width: 12px;
    width: 2%;
  }
  .issue-item .due-date span {
    display: block;
    font-size: 2.571em;
  }
  .issue-item.set .due-date,
  .issue-item.overdue .due-date,
  .issue-item.open .due-date,
  .issue-item.closed .due-date {
    min-width: 5em;
  }

  /* Date set */
  .issue-item.set .due-date {
    background-color: #00831f;
    padding: 26px 0;
  }

  /* Date overdue */
  .issue-item.overdue .due-date {
    background-color: #cf0202;
    padding: 0.7143em;
  }

  /* Issue open */
  .issue-item.open .due-date {
    background-color: #ff7c00;
    padding: 26px 0;
  }

  /* Issue closed */
  .issue-item.closed .due-date {
    background-color: #00831f;
    padding: 26px 0;
  }

  /**
   * Issue details
   * ------------------------------------------------------
   */
  .issue-item .issue-description {
    padding: 0.2em 0.8em;
    width: 35em;
  }
  .issue-item .meta,
  .issue-item .creator {
    font-size: 0.9286em;
  }
  .issue-item h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }

  /**
   * Actions column
   * ------------------------------------------------------
   */
  .issue-actions {
    font-size: 0.8571em;
    padding: 0.2em 0.2em 0.2em 0.8em;
    width: 13em;
  }
  .issue-actions div:before {
    content: " ";
    border-left: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .issue-actions div {
    border-left: 1px solid #ccc;
    padding: 0.5em;
    position: relative;
  }
  .issue-actions span {
    display: block;
    padding: 2px 10px;
  }
  .issue-actions .updated {
    background-color: #00831f;
    color: #fff;
  }


  /**
   * SINGLE ISSUE & CREATE ISSUE
   * ==========================================================================
   */
  .single-issue {
    margin: 0 0 2em;
  }
  /* Custom size for edit icon in single issue */
  .single-issue .edit-module {
    font-size: 1.5714em;
  }

  /**
   * Issue header
   * ------------------------------------------------------
   */
  .m-h .set-due-date {
    display: inline-block;
    vertical-align: middle;
  }
  .m-h .set-due-date {
    background-color: #eaeaea;
    border-radius: 5px;
    margin: 0 0.5em 0.45em;
    padding: 0;
  }
  .m-h input[type="text"] {
    background-color: #fff;
    border: none;
    padding: 0.214em 0.286em;
  }

  /**
   * Issue type picker
   * ------------------------------------------------------
   */
  .choose-type {
    margin-bottom: 5px;
  }

  /**
   * Issue body
   * ------------------------------------------------------
   */
  .issue-body {
    border-radius: 0 5px 5px 0;
    display: table;
    margin: 0 0 0.5em;
    width: 100%;
  }
  .issue-body .due-date {
    background-color: #fff;
    display: table-cell;
  }

  .issue-body .issue-description {
    opacity: 0.95;
  }

  .issue-body .due-date {
    background-color: #afafaf;
    border-radius: 5px 0 0 5px;
    color: #fff;
    line-height: 1.1;
    min-height: 5em;
    text-align: center;
    vertical-align: middle;
    width: 12%;
  }
  .issue-body .due-date span {
    display: block;
    font-size: 2.571em;
  }
  .issue-body .due-date.set,
  .issue-body .due-date.closed {
    background-color: #00831f;
  }
  .issue-body .due-date.overdue {
    background-color: #cf0202;
  }
  .issue-body .due-date.open {
    background-color: #ff7c00;
  }

  /* Issue description */
  .issue-body .issue-description {
    padding: 1em 0.75em;
    vertical-align: top;
    background-color: #fff;
  }
  .issue-body .issue-description h2 {
    float: none;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
  }


  /**
   * Issue notes
   * ------------------------------------------------------
   */

  /* Expandable field should have no border in notes */
  .notes-content .expandable-field.active {
    border: 0;
  }

  /* Notes form */
  .input-note .text,
  .input-note .submit-area {
    float: left;
  }
  .input-note .text {
    width: 78%;
  }
  .input-note input[type="text"] {
    background-color: #fff;
    background-image: url("../i/arrow-blue-left.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-radius: 3px 0 0 3px;
    width: 100%;
  }
  .input-note button[type="submit"] {
    border-radius: 0 3px 3px 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5em 0;
    width: 100%;
  }
  .input-note .submit-area {
    width: 22%;
  }

  /* Notes listing */
  .posted-notes {
    /*margin-right: 6em;*/
  }
  .note-item {
    font-size: 0.9286em;
    margin-bottom: 0.5em;
  }
  .note-body,
  .note-posted-by {
    float: left;
  }
  .note-body,
  .notes-content .expand {
    width: 100%; /* .note-body and .expand should have same width */
  }
  .note-body {
    background-color: #fff;
    min-height: 3em;
    padding: .5em .75em;
  }
  .note-body p {
    margin: 0 0 .5em;
  }
  .note-body p:last-child {
    margin: 0;
  }
  .note-posted-by {
    background: url("../i/arrow-grey-right.png") no-repeat 0 .5em;
    line-height: 1.2;
    padding: 1em 1em .75em 0;
    width: 100%;
    float: left;
    font-weight: bold;
    width: 100%;
  }
  .note-posted-by .note-timestamp {
    color: #666;
    float: right;
    font-size: 0.8462em;
  }
  .note-meta .m-attachments {
    float: left;
  }
  .note-meta .m-attachments li:first-child {
    margin-top: 3px;
  }
  .note-meta .m-attachments li {
    display: inline-block;
    background: none;
    margin: 4px 8px 4px 0;
    padding: 0;
  }
  .note-meta .m-attachments .icon-attach {
    color: #08c;
  }

  /* Public notes */
  .public .note-item {
    font-size: 1em;
  }


  /**
   * Issue tags
   * ------------------------------------------------------
   */
  .issue-tags > span,
  .issue-tags a {
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin: 0 .5em .5em 0;
    padding: 4px 12px;
    text-decoration: none;
  }
  .issue-tags > span > span {
    float: left;
    padding-right: 20px;
  }
  .issue-tags .new-tag {
    background-color: #08c;
    color: #fff;
    border-radius: 0 5px 5px 0;
    float: right;
    margin: -4px -12px;
    padding: 4px 0.5em;
  }
  .issue-tags .new-tag:focus,
  .issue-tags .new-tag:hover {
    background-color: #0af;
  }

  /**
   * Module: Formulär
   * ------------------------------------------------------
   */
  .m.m-issue-forms h2 {
    float: none;
  }

  .m-issue-forms form {
    margin: 1em 0;
  }
  .form-content{
    margin-bottom: 20px;
  }

  /* Form tabs */
  .form-tabs {
    float: none;
  }
  .m-c .form-tabs li {
    background-color: transparent;
    float: left;
    margin: 0;
    padding: 0;
  }
  .form-tabs a {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    display: block;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.25em 1em;
    text-decoration: none;
  }
  .form-tabs a:hover,
  .form-tabs a:focus,
  .form-tabs a:active {
    background-color: #f2f2f2;
  }
  .form-tabs a.sel {
    background-color: #08c;
    color: #fff;
    font-weight: normal;
  }
  /* Tab has versions */
  .has-versions a {
    border-radius: 5px 0 0 0;
    float: left;
    margin-right: 0;
  }
  .has-versions .icon-arrow-down.versions-drop {
    background-color: #ccc;
    border-radius: 0 5px 0 0;
    color: #fff;
    float: right;
    margin-right: 0.5em;
    padding: 0.25em 0;
    text-align: center;
    width: 1.75em;
  }
  .has-versions .versions-drop:hover,
  .has-versions .versions-drop:focus,
  .has-versions .versions-drop:active {
    background-color: #d8d8d8;
  }
  .form.radio {
      padding-left: 0px;
  }
  .form-label {
    margin-left: -20px;
  }
  .form-comboBox {
      padding: 0px !important;
  }
  .form-checkbox {
      margin-right: 0.3em !important;
  }
  .form-status {
    position: absolute;
    right: 0.75em;
    top: 0.75em;
  }
  .form-status a {
    text-decoration: none;
  }
  .form-status *[class*="icon-"] {
    color: #666;
    font-size: 1em;
    padding: 0 0 0 15px;
  }
  .form-status *[class*="icon-"]:hover {
    color: #0af;
  }
  .form-status *[class*="icon-"]:before {
    padding-right: 0.25em;
  }
  .form-content{
    margin-bottom: 20px;
  }
  .m-c .form-status li {
    padding: 0 0 0 .75em;
  }

  /* Form sections */
  .form-sections {
    margin: 0;
    border-bottom: 1px solid #a7a7a7;
  }
  .section-item {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: .5em 0;
  }
  .section-item a {
    font-weight: bold;
    text-decoration: none;
  }
  .section-item.sel,
  .section-item.sel a {
    color: #08c;
  }
  .section-history-item {
    font-weight: bold;
    background-color: #e1e1e1;
    padding: 5px 5px 5px 7px;
  }
  .form-history-sections {
    margin-bottom: 0 !important;
    padding-left: 5px;
  }
  .button-group {
    float: right;
  }

  .form-field .map-point {
    background-image: url("../i/map-point.png");
    background-repeat: no-repeat;
    margin: 2px 2px 2px 5px;
    padding: 0.5em 1em;
    width: 100%;
  }


  /**
   * SPINNER
   * ==========================================================================
   */
  .spinner {
    background: url("../i/spinner.gif") no-repeat 50% 50%;
    background-size: 30px;
    height: 30px;
    margin: 5px;
  }


  /**
   * CONVERSATION VIEW
   * ==========================================================================
   */

  /**
   * Participants
   * ------------------------------------------------------
   */
  .participants span,
  .participants .add-participant {
    border-radius: 3px;
    color: #fff;
    padding: 0.15em 0.5em;
  }
  .participants span {
    background-color: #666;
    display: inline-block;
    margin: 0 .4em .4em 0;
  }
  .participants .icon-cancel {
    color: #fff;
    display: inline-block;
    font-size: 0.7143em;
    margin-left: 0.25em;
    text-decoration: none;
  }
  .participants .icon-cancel:hover,
  .participants .icon-cancel:focus,
  .participants .icon-cancel:active {
    color: #ff7c00;
  }
  .participants .add-participant {
    background-color: #08c;
    display: inline-block;
  }
  .participants .add-participant:hover,
  .participants .add-participant:focus {
    background-color: #0af;
  }
  .participants .add-participant *[class*="icon-"] {
    color: inherit;
    padding: 0 .25em;
  }


  /**
   * Conversation input
   * ------------------------------------------------------
   */
  .convo-input {
    margin: 1em 0;
  }
  .convo-input .upload,
  .convo-input .send {
    float: right;
  }
  .convo-input .upload a,
  .convo-input .send button,
  .convo-input .upload div,
  .convo-input .upload .file-input {
    height: 40px;
  }

  /* Textarea */
  .convo-input .text {
    width: 100%;
  }
  .convo-input .text textarea {
    border-radius: 0;
    resize: none;
    width: 100%;
  }

  /* Upload button */
  .convo-input .upload {
    min-width: 60px;
    width: 10%;
  }
  .convo-input .upload .file-input {
    width: 60px;
  }
  .convo-input .upload a,
  .convo-input .upload div {
    background-color: #08c;
    border-radius: 5px 5px;
    color: #fff;
    display: inline-block;
    font-size: 1.7143em;
    line-height: 1.7em;
    height: 40px;
    text-align: center;
    width: 100%;
  }
  .convo-input .upload a:hover,
  .convo-input .upload a:focus,
  .convo-input .upload div:hover,
  .convo-input .upload div:focus {
    background-color: #0af;
  }

  /* Attach button */
  .convo-input .attach {
    background: url("../i/icon-attachfile.png") no-repeat 50% 50%;
    float: right;
    padding: .5em .5em;
  }

  /* Submit area */
  .convo-input .send {
    margin-left: .25em;
  }
  .convo-input .send button {
    width: 100%;
  }
  .convo-input .attached-files {
    text-align: right;
  }
  .convo-li {
      min-height: 60px;
  }
  #conversation-topic{
    width: 100%;
  }



  /**
   * MODULES
   * ==========================================================================
   */

  /**
   * Module: Allmänt
   * ------------------------------------------------------
   */
  .m-general .m-box {
    background-color: #fff;
  }

  /**
   * Module: Status
   * ------------------------------------------------------
   */

  .m-status .priority-color {
    display: inline-block;
    position: absolute;
    top: 2em;
    right: 4.5em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  /**
   * Module: Konversationer
   * ------------------------------------------------------
   */
  .m-convos .date {
    font-size: .8571em;
  }
  .m-convos li {
    word-break: break-word;
    background-color: #fff;
    position: relative;
  }
  .m-convos li .block-link {
    padding-right: 2em;
  }
  .convo-status {
    position: absolute;
    right: .75em;
    top: .75em;
  }
  .case-sidebar-info + .convo-status {
    top: .75em;
  }
  .convo-status *[class*="icon-"] {
    color: #666;
    font-size: 1em;
    padding: 0 0 0 15px;
  }
  .convo-status *[class*="icon-"]:hover {
    color: #0af;
  }
  .convo-status *[class*="icon-"]:before {
    padding-right: .25em;
  }
  .convo-status a {
    text-decoration: none;
  }
  .convo-status li {
    display: inherit;
  }
  .conv-case-sidebar {
    max-width: 260px;
  }
  .case-in-sidebar {
    width: 300px;
    min-height: 10px;
    overflow: hidden;
  }

  /**
   * Module: Kontakter
   * ------------------------------------------------------
   */
  .m-contacts a {
    text-decoration: none;
  }
  .contact-no-name {
    font-style: italic;
    opacity: 0.95;
  }

  /**
   * Module: Ärendelogg
   * ------------------------------------------------------
   */
  .log-table {
    border-collapse: separate;
    border-spacing: 0 2px;
  }
  .log-table tbody td {
    padding: .25em .75em;
  }
  .log-table tbody tr td:last-child {
    text-align: right;
  }
  .log-table tbody tr {
    background-color: #fff;
  }
  .log-table tbody tr.even {
    background-color: #eee;
  }
  .caselog-filter-options {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0 0.75em 0 0.75em;
  }
  .caselog-filter-length {
    display: table-row;
  }
  .caselog-filter-label {
    display: table-cell;
  }
  .caselog-filter {
    margin: 6px 6px 6px 0;
    min-width: 110px;
  }
  .caselog-filter-checkbox {
    margin-right: 4px !important;
  }
  .caselog-count-sidebar{
    float: right;
  }
  .caselog-input .send button{
    float: right;
  }
  .case-sidebar-info p {
    margin: 0;
  }

  /**
   * Module: Bifogade filer
   * ------------------------------------------------------
   */
  .m-attachments a {
    text-decoration: none;
  }
  .m-attachments li {
    position: relative;
  }
  .m-attachments li a:first-child {
    margin-right: .5em;
  }
  .m-attachments .delete {
    color: #08c;
  }
  .m-attachments .delete:hover {
    color: #0af;
  }
  .m-draft-attachments {
    width: 50%;
  }
  .file-input {
    position: fixed;
    visibility:hidden;
  }
  .file-input-label{
    font-weight: normal;
    cursor: pointer;
  }

  .content-secondary .m-attachments .icon-cancel {
    position: absolute;
    right: .75em;
  }
  /**
   * Module: Checklista
   * ------------------------------------------------------
   */
  .m-check-list .check-list li {
    padding: .25em;
    margin: 0;
  }
  .m-check-list .check-list li.even {
    background-color: #fff;
  }

  /**
   * Module: Liknande ärenden
   * ------------------------------------------------------
   */
  .m-matched-issue .status,
  .m-matched-issue .createdon {
    font-size: .8571em;
    margin-bottom: 0;
  }
  .m-matched-issue .m-box {
    background-color: #fff;
  }


  /**
   * ACCORDION
   * ==========================================================================
   */
  .accordion-item {
    margin: 0 0 .25em;
  }
  .accordion-content {
    padding: 0 .5em;
  }
  .accordion-item h3 a {
    background: #fff;
    display: block;
    font-weight: normal;
    padding: .45em;
    text-decoration: none;
  }
  .accordion-item h3 a:link .icon-arrow-down,
  .accordion-item h3 a:active .icon-arrow-down,
  .accordion-item h3 a:visited .icon-arrow-down {
    color: #08c;
  }
  .accordion-item h3 a:hover .icon-arrow-down,
  .accordion-item h3 a:focus .icon-arrow-down {
    color: #0af;
  }
  .accordion-item .icon-arrow-down {
    float: right;
  }


  /**
   * GLOBAL CLASSES
   * ==========================================================================
   */

  /**
   * Toolbar
   * ------------------------------------------------------
   */
  .toolbar {
    margin: 0 0 1.5em;
  }
  .toolbar .buttons {
    list-style: none;
    margin: 0;
  }
  .toolbar .buttons li {
    margin-right: 2px;
    display: inline-block;
    vertical-align: top;
  }
  .toolbar .toolbar-content-style {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    color: #333;
    width: 440px;
    padding: 1em;
    text-align: center;
  }
  .toolbar .toolbar-content .close {
    float: left;
  }
  .toolbar .toolbar-content .form-general {
    margin: 2em 0;
  }

  /**
   * Modal Dialog
   * -----------------------------------------------------
   */

  .modal .modal-overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #000;
    opacity: .5;
  }
  .modal .modal-dialog {
    z-index: 101;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e8e8e8;
    border-radius: 10px;
    border-bottom: 3px solid #bbb;
    min-height: 120px;
    min-width: 300px;
  }
  .modal .modal-close {
    float: right;
    padding: .5em;
    font-size: 120%;
    display: inline-block;
    color: #aaa;
    background: none;

    transition: color .2s ease;
  }
  .modal .modal-header {
    width: 100%;
  }
  .modal .modal-header h3 {
    margin: 0 0 0 .5em;
    line-height: 2;
    float: left;
    font-weight: bold;
  }
  .modal .modal-header .modal-close:hover,
  .modal .modal-header .modal-close:focus {
    background: none;
    color: #777;
  }
  .modal .modal-content {
    text-align: left;
    padding: 1em 1.25em;
  }
  .modal .modal-content h4 {
    text-align: center;
    margin-bottom: 1em;
  }
  .modal .dialog-list {
    margin-left: 0;
  }
  .modal .dialog-submit {
    text-align: center;
  }


  /**
   * Regular lists (inside modules)
   * ------------------------------------------------------
   */
  .m .reg-list {
    margin: 0 0 1em 2.857em;
  }
  .m .reg-list .odd {
    background: transparent;
  }
  /* Ordered lists */
  .m ol.reg-list {
    list-style: outside decimal;
  }
  /* Unordered lists */
  .m ul.reg-list {
    list-style: outside disc;
  }

  /* Unordered lists, centered */
  ul.dialog-list {
    list-style: none;
    text-align: left;
  }

  /**
   * Module edit button
   * ------------------------------------------------------
   */
  .edit-module {
    font-size: 1.2857em;
    float: right;
    margin-right: .5em;
    line-height: 1;
  }
  .edit-module,
  .edit-module:visited {
    color: #08c;
  }
  .edit-module:hover,
  .edit-module:focus,
  .edit-module:active {
    color: #0af;
  }

  /**
   * Expandable field
   * ------------------------------------------------------
   */
  .expandable-field.active {
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 1px;
  }
  .expandable-field .expand {
    background-color: #08c;
    color: #fff;
    display: block;
    font-size: 0.7857em;
    text-align: center;
    text-decoration: none;
  }
  .expandable-field .expand:hover,
  .expandable-field .expand:focus {
    background-color: #0af;
  }
  .expand span {
    display: inline-block;
    width: 80%;
  }
  .expand *[class*="icon-"] {
    color: #fff;
  }
  .expanded *[class*="icon-"]:before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all .15s linear .1s;
            transition: all .15s linear .1s;
  }

  /**
   * Module
   * ------------------------------------------------------
   */
  .m {
    margin: 0 0 2em;
  }
  .m-h {
    margin-bottom: 5px;
    overflow: hidden;
  }
  .m .m-box,
  .m-c li {
    padding: 0.75em;
  }
  .m-box li {
    padding: 0;
  }
  .m ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .m-c li {
    margin: 0 0 0.2855em;
  }
  .m h2 {
    float: left;
    font-size: 1.1429em;
    font-weight: bold;
    padding-left: 0.25em;
  }
  .m .action-btn {
    display: block;
    float: right;
    text-decoration: none;
  }
  .m .action-btn *[class*="icon-"] {
    color: #08c;
  }
  .m .action-btn:hover *[class*="icon-"] {
    color: #0af;
  }
  .m .action-btn .icon-arrow-down:before {
    margin-top: -3px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .m h3 {
    font-size: 1em;
    font-weight: bold;
  }

  /**
   * Styled link buttons
   * ------------------------------------------------------
   */
  a.btn,
  input.btn {
    background-color: #08c;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.9em;
    text-decoration: none;
  }
  a.btn:hover,
  a.btn:focus,
  a.btn:active,
  input.btn:hover,
  input.btn:focus,
  input.btn:active {
    color: #fff;
    background-color: #0af;
    text-decoration: none;
  }
  .btn *[class*="icon-"] {
    color: inherit;
  }

  /* Inactive */
  .btn.inactive,
  input.btn.inactive {
    background-color: #a7a7a7;
    color: #ccc;
    cursor: default;
    opacity: 100;
  }
  .btn.inactive:hover {
    color: #ccc;
    background-color: #a7a7a7;
  }

  /* Inline */
  .btn.inline {
    display: inline-block;
  }

  /* Align right */
  .btn.right {
    float: right;
    margin: 0;
  }

  /* Has dropdown */
  .btn.dropdown {
    padding-right: 0.5em;
  }
  .btn.dropdown + ul {
    text-align: left;
  }
  .btn.dropdown + ul {
    display: none;
    list-style: none;
    margin: -3px 0 0;
    position: absolute;
    width: 10em;
    z-index: 999;
  }
  .btn.dropdown:hover + ul,
  .btn.dropdown:focus + ul:hover,
  .btn.dropdown:focus + ul,
  .btn.dropdown + ul:hover {
    display: block;
  }
  .btn.dropdown + ul li {
    display: block;
    margin: 0;
  }
  .btn.dropdown + ul li a {
    border-radius: 0;
    display: block;
  }
  .btn.dropdown + ul li:first-child a {
    border-radius: 0 5px 0 0;
  }
  .btn.dropdown + ul li:last-child a {
    border-radius: 0 0 5px 5px;
  }

  /**
   * Zebra lists
   * ------------------------------------------------------
   */
  .zebra-list li {
    padding: .25em .75em;
    margin: 2px 0;
    background-color: #fff;
    cursor: pointer;
  }
  .zebra-list .odd {
    background-color: #e8e8e8;
  }

  /**
   * Block links (remove standard link decorations)
   * ------------------------------------------------------
   */
  a.block-link,
  a.block-link:visited,
  a.block-link:hover,
  a.block-link:focus,
  a.block-link:active {
    color: inherit !important;
    display: block;
    text-decoration: none !important;
  }

  /**
   * Disabled sidebar fields
   * ------------------------------------------------------
   */
  .cursor-default {
    cursor: default;
    width: 100% !important;
  }

  /**
   * Font icons
   * ------------------------------------------------------
   */
  .icon-direction, .icon-direction.forward {
    margin-left: 5px;
    transform: rotate(0deg);
  }
  .icon-direction.backwards {
    margin-left: 5px;
    transform: rotate(180deg);
  }
  .icon-direction.downwards {
    margin-left: 5px;
    transform: rotate(90deg);
  }
  .icon-direction.upwards {
    margin-left: 5px;
    transform: rotate(270deg);
  }

  /**
   * EYE CANDY
   * ==========================================================================
   */

  /**
   * Effects on anchors, buttons & other hovers
   * ------------------------------------------------------
   */
  a,
  button,
  .issue-item,
  .sub-category a span,
  *[class*="icon-"],
  .customfile-button {
    -webkit-transition: color .2s, background-color .2s;
            transition: color .2s, background-color .2s;
  }


  /**
   * PAGING
   * ==========================================================================
   */
  .paging {
    margin: 1.5em 0 1em;
    list-style-type: none;
    text-align: center;
  }
  .paging li {
    display: inline-block;
  }
  .paging a:link,
  .paging a:visited {
    display: inline-block;
    border: 1px solid #ccc;
    width: 2em;
    margin: 0 4px 5px 0;
    padding: 0.3em 0;
    color: inherit;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }
  .paging a:hover,
  .paging a:focus {
    border: 1px solid #aaa;
  }
  .paging .active {
    font-weight: bold;
    background: #f0f0f0;
  }

  /**
   * FILTER
   * ==========================================================================
   */
  .filter {
    margin: 0 auto 2em auto;
    padding: 1.25em 1.75em;
    background: #ddd;
  }
  .filter input[type="text"] {
    width: 65%;
    margin-bottom: .25em;
  }
  .filter .options {
    float: right;
    width: 35%;
  }
  .filter .options label {
    display: block;
    color: #999;
    font-size: .7857em;
  }
  .filter .options > div {
    float: right;
    padding-left: .5em;
    width: 50%;
  }
  .filter .options select {
    float: right;
    width: 100%;
  }

  /**
   * FORMS
   * ==========================================================================
   */
  .form-general {
    margin: 1em 0;
  }
  .form-history {
    margin-top: 15px;
  }
  .form-history-field {
    padding: 5px .5em .5em .5em;
    margin-right: -15px;
    background-color: #fff;
  }
  .form-field {
    padding-bottom: 0.15em;
  }
  .form-history-submitted {
    float: left;
  }
  form label {
    display: block;
    font-weight: bold;
    margin: 0 4px 0 0;
  }
  form > div:last-of-type{
    margin-bottom: 0px;
  }
  label strong {
    display: block;
    color: #900;
  }
  .disabled label {
    color: #999;
  }
  label span,
  label em {
    margin: 0 0 0 .5em;
    color: #ff7c00;
    font-weight: normal;
    font-style: normal;
  }
  input[type="text"],
  input[type="password"],
  input[type="search"],
  textarea,
  .custom-select {
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: .5em;
  }
  button,
  input[type="button"],
  input[type="submit"] {
    background-color: #08c;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 4px 10px;
    cursor: pointer;
  }
  .picker button {
    color: #000;
  }
  button:hover,
  button:focus {
    background-color: #0af;
    cursor: pointer;
  }
  button[type="reset"] {
    background-color: #a7a7a7;
  }


  /* Custom file upload element */
  .customfile-input {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
  }
  .customfile {
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px 0;
    overflow: hidden;
    position: relative;
  }
  .customfile-disabled {
    opacity: .5;
    cursor: default;
  }
  .customfile-feedback {
    display: block;
    overflow: hidden;
    padding: .4356em .5em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .customfile-button {
    background: #08c url("../i/icon-camera.png") no-repeat 50% 50%;
    color: #fff;
    float: right;
    padding: .4356em 1.7951em;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    border-radius: 0 3px 3px 0;
  }
  .customfile-hover .customfile-button,
  .customfile-focus .customfile-button {
    background-color: #0af;
  }

  /* Placeholder styling for gecko */
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #888;
  }

  /* Placeholder styling for webkit */
  input::-webkit-input-placeholder,
  textarea:-webkit-input-placeholder {
    color: #888;
  }

  /* Placeholder styling for browser without native support */
  input.placeholder,
  textarea.placeholder {
    color: #888;
  }
  .form-general input,
  .form-general select,
  .form-general textarea {
    margin: 0;
  }
  .form-general .alt {
    display: inline;
    margin: 0 12px 0 0;
  }
  .text,
  .radio,
  .checkbox,
  .select {
    margin: 0 0 6px;
  }
  .select {
    position: relative;
  }
  .select select {
    max-width: 100%;
  }
  .select select[multiple] {
    width: 100%;
  }
  input[type="submit"] {
    width: auto !important;
  }
  .form-general fieldset {
    border-radius: 3px;
    margin: 0;
    padding: 5px 8px;
    border: 1px solid #ddd;
  }

  /* Input saved & error states */
  .text.saved,
  .text.error {
    position: relative;
  }
  .row .text.saved input,
  .row .text.error input {
    padding-right: 2.75em;
  }
  .text.saved:after,
  .text.error:after {
    display: block;
    position: absolute;
    right: .25em;
    top: .25em;
    padding: .5em;
    margin: 0 0 .25em .25em;
    line-height: 1;
    border-radius: 50%;
    color: #fff;
    font-family: "StreamflowIcons";
    speak: none;
  }
  .text.saved:after {
    animation: fadeOut .5s ease 3s 1 forwards;
  }
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
  .text.saved option,
  .text.error option {
    padding-right: 2.75em;
    height: 5em;
  }
  .text.saved-select:after,
  .text.error-select:after {
    right: 34%;
    bottom: 0.5em;
  }
  .text.saved:after {
    background: #0c0;
    content: "\ea10";
  }
  .text.error:after {
    background: #900;
    content: "\ea0f";
  }
  .file-input-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: #08c;
    cursor: pointer;
  }
  .icon-white {
    color: #fff;
    line-height: 14px;
    vertical-align: text-top;
  }
  .button-text {
    color: #fff;
  }
  .file-input-button input {
    position: absolute;
    transform: translate(-300px, 0) scale(4);
    visibility: hidden;
  }

  /**
   * Form columns
   * ------------------------------------------------------
   */
  form .row,
  .sidebar-row {
    margin-bottom: 1em;
  }
  .disabled,
  .select select[disabled],
  input[type="text"][disabled],
  input[type="search"][disabled],
  textarea[disabled] {
    opacity: .65;
    cursor: default;
  }
  .row .text input,
  .row textarea {
    width: 100%;
  }
  .row,
  .sidebar-row {
    margin-bottom: 20px;
  }
  .col {
    float: left;
    width: 50%;
    padding: 0 5px;
    position: relative;
  }
  .col-1 {
    padding-left: 0;
  }
  .col-left {
    width: 25%;
    margin-left: -50%;
    right: 25%;
  }
  .col-right {
    width: 25%;
    margin-right: -25%;
  }
  .col-center {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .row .small {
    width: 25%;
  }
  .row .medium {
    width: 50%;
  }
  .row .large {
    width: 75%;
  }
  .medium-small {
      width: 25%;
  }
  .row .hr,
  .row .full {
    padding: 0;
    width: 100%;
  }
  .cols-2 .col-2,
  .cols-3 .col-3,
  .cols-4 .col-4,
  .cols-5 .col-5,
  .cols-6 .col-6 {
    padding-right: 0;
  }
  .row .submit-area {
    margin-top: 1.5385em;
  }
  .cols-1 .submit-area {
    margin: 0;
    width: 98%;
  }
  .checkbox,
  .radio {
    white-space: nowrap;
  }
  .checkbox input,
  .radio input {
    width: auto !important;
    vertical-align: middle;
  }
  .checkbox label,
  .radio label {
    display: inline;
    vertical-align: middle;
    white-space: normal;
  }
  .alt label {
    display: inline;
    font-weight: normal;
  }
  .text.error label,
  .error legend {
    color: #900;
  }


  /**
   * GOOGLE MAPS
   * ==========================================================================
   */
  .toggle-map {
    background-size: 16px;
    float: right;
    font-size: 0.5833em;
    font-weight: bold;
    text-decoration: none;
    padding-left: 1.5em;
  }
  .map {
    border: 1px solid #e8e8e8;
    min-height: 550px;
    margin: 0 0 2em;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .map img {
    width: 100%;
  }

  .angular-google-map-container { height: 400px; }

  #map-search-input {
    width: 50%;
  }

  .maps .lookup ul.search-results {
    margin: 0.5em;
  }

  .maps .lookup ul.search-results li {
    list-style-type: none;
  }

  /**
   * GROWL
   * Since we don't want to include Bootstrap.
   * ==========================================================================
   */
  .growl-container > div.growl-item {
    background: #fff;
    padding: 1em 3em 1em 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
  }
  .growl-container > div.growl-item .close {
    position: absolute;
    right: 1em;
    font-size: 1.25em;
    line-height: 1;
    background: none;
    color: #ccc;
  }
  .growl-container > div.growl-item .close:focus,
  .growl-container > div.growl-item .close:hover {
    color: #333;
  }
  .growl-container .growl-item.icon>.growl-message,
  .growl-container .growl-item.icon>.growl-title {
    margin: 0 0 0 50px;
  }


  /**
   * SELECT
   * Select element overrides to get things working in our favor.
   * ==========================================================================
   */

  /**
   * Chosen
   * ------------------------------------------------------
   */
  .chosen-container {
    width: 100% !important;
  }

  .chosen-container-multi ul.chosen-choices {
    background: #fff;
    border: none;
    border-radius: 3px;
    padding: .25em .5em;
    max-height: 33px;
    min-height: 33px;
  }
  .chosen-container-active ul.chosen-choices {
    border: none;
    box-shadow: none;
  }
  .chosen-container-multi ul.chosen-choices li.search-choice {
    background: #ddd;
    border: none;
    box-shadow: none;
    padding: 4px 20px 4px 6px;
  }
  .chosen-container-multi ul.chosen-choices li.search-choice .search-choice-close {
    top: 5px;
  }

  .chosen-container-active.chosen-with-drop a.chosen-single,
  .chosen-container-single a.chosen-single {
    padding: .5em;
    background: #fff url("../i/custom-select.png") no-repeat 100% 50%;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    max-height: 33px;
    min-height: 33px;
  }
  .chosen-container-single a.chosen-single {
    padding-right: 4em;
  }
  .chosen-container-single a.chosen-single span {
    margin-right: 0px;
  }
  .chosen-container-active.chosen-with-drop ul.chosen-choices,
  .chosen-container-active.chosen-with-drop a.chosen-single {
    padding-right: 4em;
    border-radius: 3px 3px 0 0;
  }
  .chosen-container-active.chosen-with-drop a.chosen-single,
  .chosen-container-active.chosen-with-drop ul.chosen-choices,
  .chosen-container-active.chosen-with-drop ul.chosen-choices + .chosen-drop,
  .chosen-container-active.chosen-with-drop a.chosen-single + .chosen-drop {
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  }
  .chosen-container-single a.chosen-single div b {
    display: none;
  }


  /**
   * Pickadate
   * ------------------------------------------------------
   */
  .picker__input.picker__input--active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  }


  /**
   * Custom Select
   * ------------------------------------------------------
   */
  .select select {
    border: none;
    border-radius: 3px;
    padding: .4356em .5em;
    width: 100%;
    min-height: 33px;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .select select::-ms-expand {
    display: none;
  }

  .select select:not([multiple]) {
    max-height: 33px;
    background-image: url("../i/custom-select.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }


  /**
   * ANCHOR
   * ==========================================================================
   */
  /* Adjust for navigation height */
  a.anchor {
    top: -4.5em;
  }

/* END @media screen,projection */
}

@media screen and (max-width: 1160px) {
  .header-body,
  .main-body {
    margin: 0 auto;
    width: 100%;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1020px) {
  .layout-2 .content-secondary {
    width: 40%;
  }
}

@media screen and (max-width: 882px) {
  .layout-2 .content-primary,
  .layout-2 .content-secondary {
    width: 100%;
  }
  .layout-2 .content-primary {
    padding: 0;
  }
  .contact {
    max-width: 630px;
  }
  .main-search {
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }
  .header-body .client-name {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .header-body,
  .main-body {
    padding: 0 1em;
  }
  .header-body {
    margin-bottom: 1em;
  }
  .issue-banner {
    padding: .55em 1em;
  }
  .filter {
    padding: 1.5em 1em;
  }
  .filter input[type="text"] {
    width: 100%;
  }
  .filter .options {
    float: right;
    width: auto;
  }

  /* Always visible functions menu */

  .navigation {
    float: none;
    position: static;
    padding: 0 1em;
  }
  .navigation a:hover,
  .navigation a:focus,
  .navigation a:active {
    color: #333;
  }
  .navigation .functions-menu {
    transform: translateX(0);
    margin: 1em 0;
    position: static;
  }
  .navigation .add-new-issue {
    display: inline-block;
    background-color: #08c;
    background-image: none;
    border-radius: 5px;
    font-size: 1.1429em;
    height: auto;
    padding: .25em .5em;
    margin-bottom: .25em;
    text-align: left;
    width: auto;
  }
  .navigation .add-new-issue,
  .navigation .add-new-issue .icon-plus {
    color: #fff;
    vertical-align: middle;
  }
  .navigation .add-new-issue .struct {
    padding-left: 0.5em;
    position: static;
  }
  .navigation .functions-header h2 {
    background-color: transparent;
    border-right: 0;
    color: inherit;
    float: none;
    padding: 0;
  }
  .navigation .functions-header .open-toolbar {
    display: none;
  }
  .navigation .sub-categories {
    position: relative;
  }
  .navigation .sub-category {
    color: #fff;
    display: block !important;
    padding: 0.75em;
    width: auto;
  }

  .functions-menu .sub-categories {
    display: block;
  }
}

@media screen and (max-width: 424px) {
  .header-body,
  .main-body,
  .navigation {
    padding: 0 .5em;
  }
  .col-left {
    float: left;
  }

  /* Space above logged in user */
  .logged-in {
    margin-top: 0.25em;
  }

  /* Sidebar */
  .caseInSidebar {
    width: 100%;
    max-width: 570px;
    min-width: 200px;
  }
  .col-right {
    float: left;
    width: 50%;
    margin-left: -25%;
  }
  .col-center {
    margin: auto;
    padding: 0;
    margin-bottom: 14px;
    width: 100%;
    clear: both;
  }
  #profile-holder > h2 {
    margin: 0 0 34px 45px;
  }
}
