@import url('https://fonts.googleapis.com/css?family=Roboto');

@media screen, projection {
    /*Based style*/
    html {
        background-color: #f8f9fb;
    }

    .body {
        background-color: #f8f9fb;
    }

    .main-body {
        background-color: #f8f9fb;
    }

    a{
        text-decoration: none;
    }

    .sub-category a.sel span, .sub-category a:focus span, .sub-category a:hover span{
        color: #03d7a2;
    }

    /*Header New Stylesheets*/
    .header {
        border-top: none;
        background-color: #343d5c;
    }

    .header-body {
        padding: 24px 52px 24px 35px;
        display: block;
        width: 100%;
    }

    .header-body .logo {
        background-image: url("../i/icon_logo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 193px;
        height: 52px;
    }

    .client-name {
        margin-top: 0;
        display: block;
        float: left;
        margin-right: 5%;
        width: 193px
    }

    /*Search Field*/
    .main-search {
        display: block;
        margin: 0 auto;
        width: 48%;
    }

    .main-search form {
        height: 100%;
    }

    .main-search form, .main-search form fieldset {
        position: relative;
    }

    .main-search form fieldset {
        height: 100%;
    }

    .main-search input[type=search] {
        height: 100%;
        background-color: #262b40;
        padding: 23px 99px 23px 25px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .icon-search:before {
        font-size: 22px;
    }

    .main-search input[type=search]::-webkit-input-placeholder { /*placeholder styles*/
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .main-search input[type=search]::-moz-placeholder {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .main-search input[type=search]:-moz-placeholder {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .main-search input[type=search]:-ms-input-placeholder {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .main-search button[type="submit"] {
        background-color: #03d7a2;
        width: 58px;
        height: 100%;
    }

    .main-search button[type="submit"]:hover {
        background-color: #fff;
    }

    .main-search button[type="submit"]:hover::before {
        color: #03d7a2;
    }

    /*Filter in Form*/
    .main-search .icon-filter {
        background-image: url(../i/icon_filter.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 14px;
        width: 18px;
        top: 23px;
        right: 75px;
        transition: background .2s;
    }

    .main-search .icon-filter:hover {
        background-image: url(../i/icon_filter_hover.png);
    }

    .main-search .icon-filter:before {
        display: none;
    }

    /*User Area*/
    .user-area {
        position: absolute;
        margin-top: 0;
        display: block;
        right: 25px;
        top: 25px;
        width: 255px;
    }

    .user-area a {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
    }

    .logged-in i {
        margin-right: 0;
        margin-left: 10px;
        font-size: 18px;
        background-image: url("../i/icon_profile.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .user-area .user-actions {
        background-color: #03d7a2;
        width: 231px;
    }
    .user-area .user-actions ul{
        margin-bottom: 10px;
    }

    /*Issue Banner*/
    .issue-banner {
        min-height: 41px;
        background-color: #03d7a2;
        margin-bottom: 0px;
    }

    .issue-banner h2 {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 41px;
        text-align: center;
    }

    /*Search Filter*/
    .main-search .search-filter {
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 18px 32px 28px;
        position: absolute;
        right: 0;
        top: 85px;
        text-align: left;
        width: 100%;
        min-width: 500px;
        z-index: 1000;
    }

    .main-search .search-filter::before {
        content: "";
        position: absolute;
        top: -13px;
        right: 72px;
        display: block;
        width: 26px;
        height: 26px;
        background-image: url("../i/bg_triangle.png");
    }

    .main-search .search-filter::after {
        content: "";
        position: absolute;
        top: 45px;
        right: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #eaeaea;
    }

    .main-search .search-filter .select-wrapp {
        width: 50%;
        float: left;
    }

    .main-search .search-filter .select-wrapp:first-child {
        padding-right: 25px;
    }

    .main-search .search-filter .select-wrapp:last-child {
        padding-left: 25px;
    }

    .title-divider {
        background: none;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 12px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    }

    .main-search .search-filter .title-divider span {
        background-color: transparent;
    }

    .main-search .search-filter label {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #a1a3a8;
        text-transform: uppercase;
        margin-top: 17px;
        display: block;
        margin-bottom: 9px;
    }

    .main-search .search-filter .chosen-container-single .chosen-single {
        position: relative;
        display: block;
        overflow: hidden;
        padding: 0 0 0 8px;
        background: #fff url(../i/icon_arrow.png) no-repeat 95% 50%;
        color: #939498;
        line-height: 32px;
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
    }

    .main-search .search-filter .ui-select-container.select2-container-multi .select2-choices {
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
        background-color: #f4f6f7;
        cursor: pointer;
    }

    .select2-container-multi .select2-choices .select2-search-field input {
        cursor: pointer;
    }

    .select .chosen-container-single .chosen-single abbr {
        top: 10px;
        right: 27px;
    }

    .main-search .search-filter .set-due-date input {
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
        background-color: #f4f6f7;
        display: inline-block;
        width: 140px;
        cursor: pointer;
    }

    .main-search .search-filter .set-due-date input:first-child {
        margin-right: 4px;
    }

    .main-search .search-filter .set-created-date input {
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
        background-color: #f4f6f7;
        display: inline-block;
        width: 140px;
        cursor: pointer;
    }

    .main-search .search-filter .set-created-date input:first-child {
        margin-right: 4px;
    }

    .main-search .search-filter .select.group > div, .main-search .search-filter .select.sort > div {
        display: block;
        width: 100%;
    }

    .main-search .search-filter .select.group .group-container, .main-search .search-filter .select.sort .sort-container {
        margin-left: 0;
        width: 100%;
    }

    .main-search .search-filter .select select {
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
        color: #939498;
    }

    .main-search .search-filter .select select:not([multiple]) {
        max-height: 33px;
        background: #fff url(../i/icon_arrow.png) no-repeat 95% 50%;
    }

    .group-container .group-asc, .group-container .group-desc,
    .sort-container .sort-asc, .sort-container .sort-desc {
        display: inline-block;
        width: 50%;
        position: relative;
    }

    .group-container .group-asc input,
    .group-container .group-desc input,
    .sort-container .sort-asc input,
    .sort-container .sort-desc input {
        margin: 0;
        display: none;
    }

    .group-container .group-asc label[for="group-asc"],
    .group-container .group-desc label[for="group-desc"],
    .sort-container .sort-asc label[for="sort-asc"],
    .sort-container .sort-desc label[for="sort-desc"] {
        margin-left: 25px;
    }

    .group-container .group-asc label,
    .group-container .group-desc label,
    .sort-container .sort-asc label,
    .sort-container .sort-desc label {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 13px;
        text-transform: none;
        color: #282a32;
        margin-top: 10px;
        margin-left: 11px;
        display: inline-block;
        cursor: pointer;
    }

    .group-container .group-asc input + span,
    .group-container .group-desc input + span,
    .sort-container .sort-asc input + span,
    .sort-container .sort-desc input + span {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border: 1px solid rgba(0, 0, 0, .3);
        outline: none;
        margin: 5px;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 100%;
        position: absolute;
        top: 8px;
        cursor: pointer;
    }

    .group-container .group-asc input:checked + span:before,
    .group-container .group-desc input:checked + span:before,
    .sort-container .sort-asc input:checked + span:before,
    .sort-container .sort-desc input:checked + span:before {
        content: "";
        display: block;
        background: #03d7a2;
        border-radius: 100%;
        width: 7px;
        height: 7px;
        margin: 3px;
        pointer-events: none;
        cursor: pointer;
    }

    .main-search .search-filter .select.group a, .main-search .search-filter .select.sort a {
        right: 32px;
    }

    .main-search .search-filter .submit-container {
        margin-top: 330px;
    }

    .main-search .search-filter .submit-container button {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 57px;
        color: #a1a3a8;
        text-transform: uppercase;
        float: right;
        width: 46%;
        margin-right: 2%;
        height: 57px;
        padding: 0;
        background-color: transparent;
    }

    .main-search .search-filter .submit-container button:before {
        display: none;
    }

    .main-search .search-filter .submit-container .icon-search {
        transition: all .2s;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: #03d7a2;
        color: #fff;
    }

    .main-search .search-filter .submit-container .icon-search:hover {
        background-color: #fff;
        color: #03d7a2;
        transition: background .2s;
        border-color: #eaeaea;
    }

    .main-search .search-filter .submit-container .icon-cancel {
        transition: all .2s;
    }

    .main-search .search-filter .submit-container .icon-cancel:hover {
        color: #03d7a2;
    }

    /*.chosen-container .chosen-results li.highlighted {*/
    .main-search .search-filter .chosen-container .chosen-results li.highlighted {
        background-color: #03d7a2;
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #04d7a6), color-stop(90%, #03d7a2));
        background-image: -webkit-linear-gradient(#04d7a6 20%, #03d7a2 90%);
        background-image: linear-gradient(#04d7a6 20%, #03d7a2 90%);
        color: #fff;
    }

    .main-search .search-filter .select2-highlighted {
        background-color: #03d7a2;
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #04d7a6), color-stop(90%, #03d7a2));
        background-image: -webkit-linear-gradient(#04d7a6 20%, #03d7a2 90%);
        background-image: linear-gradient(#04d7a6 20%, #03d7a2 90%);
        color: #fff;
    }

    .select2-results::-webkit-scrollbar {
        width: 10px;
        background-color: #eeeeee;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .select2-results::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #04d7a6;
        box-shadow: 0px 1px 1px #fff inset;
    }

    .select2-results::-webkit-scrollbar-thumb:hover {
        border-width: 1px 1px 1px 2px;
        border-color: #d8d8d8;
        background: #03cb97;
    }

    .select2-results::-webkit-scrollbar-button {
        width: 10px;
        height: 0;
    }

    .main-search .search-filter .select2-drop {
        margin-top: 0;
    }

    .main-search .search-filter .select2-drop-active {
        border-color: #eaeaea;
        box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    }

    .main-search .search-filter .select2-results {
        margin: 0 4px 4px 0;
    }

    .main-search .search-filter .hasCustomSelect option:hover {
        background-color: #03d7a2;
        color: #fff;
    }

    .main-search .search-filter .select.group a, .main-search .search-filter .select.sort a {
        position: static;
        font-size: 13px;
        color: #939498;
    }

    .main-search .search-filter .select.group .icon-cancel__wrapp,
    .main-search .search-filter .select.sort .icon-cancel__wrapp{
        position: absolute;
        top: 27%;
        right: 10%;
    }

    .select .chosen-container-single .chosen-single abbr{
        display: none;
    }

    /*drop li*/
    .chosen-container-active.chosen-with-drop a.chosen-single, .chosen-container-active.chosen-with-drop a.chosen-single + .chosen-drop, .chosen-container-active.chosen-with-drop ul.chosen-choices, .chosen-container-active.chosen-with-drop ul.chosen-choices + .chosen-drop {
        border: 1px solid #eaeaea;
    }

    .chosen-container .chosen-results li.group-option,
    .chosen-container .chosen-results li.group-result,
    .chosen-container .chosen-results li.active-result,
    .select2-results li.select2-result-with-children > .select2-result-label {
        color: #696a6e;
    }

    .chosen-container .chosen-results li.group-result,
    .select2-results li.select2-result-with-children > .select2-result-label {
        border-bottom: 1px solid #eaeaea;
    }

    .chosen-container-single .chosen-search input[type=text] {
        border-radius: 4px;
    }

    .chosen-container .chosen-results::-webkit-scrollbar {
        width: 10px;
        background-color: #eeeeee;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .chosen-container .chosen-results::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #04d7a6;
        box-shadow: 0px 1px 1px #fff inset;
    }

    .chosen-container .chosen-results::-webkit-scrollbar-thumb:hover {
        border-width: 1px 1px 1px 2px;
        border-color: #d8d8d8;
        background: #03cb97;
    }

    .chosen-container .chosen-results::-webkit-scrollbar-button {
        width: 10px;
        height: 0;
    }

    /*MENU*/
    .functions-header {
        background-color: #fff;
    }

    .functions-menu {
        margin-left: -333px;
        width: 333px;
        position: absolute;
        top: 80px;
        z-index: 20;
    }

    .functions-menu.open .sub-categories {
        width: 333px;
    }

    .navigation .add-new-issue {
        display: block !important;
        margin-bottom: 0;
        color: #fff;
    }

    .sub-category a.sel, .sub-category a:focus, .sub-category a:hover{
        background-color: #03d7a2;
    }

    .navigation .open-toolbar,
    .navigation .add-new-issue {
        position: relative;
        z-index: 50;
        display: block;
        padding-top: 0;
        background-color: transparent;
        width: 56px;
        height: 56px;
        margin: 15px 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        transition: all .2s;
    }

    .navigation .open-toolbar .open-toolbar__item {
        position: absolute;
        left: 15px;
        display: block;
        width: 25px;
        height: 3px;
        background-color: #04daa5;
        transition: all .2s;
    }

    .navigation .open-toolbar .open-toolbar__item:first-of-type {
        top: 19px;
    }

    .navigation .open-toolbar .open-toolbar__item:nth-of-type(2) {
        top: 27px;
    }

    .navigation .open-toolbar .open-toolbar__item:nth-of-type(3) {
        top: 35px;
    }

    .navigation .open-toolbar:hover .open-toolbar__item:first-of-type {
        top: 21px;
    }

    .navigation .open-toolbar:hover .open-toolbar__item:nth-of-type(2) {
        top: 27px;
    }

    .navigation .open-toolbar:hover .open-toolbar__item:nth-of-type(3) {
        top: 33px;
    }

    .navigation .add-new-issue .add-new-issue__item {
        position: absolute;
        left: 15px;
        top: 27px;
        display: block;
        width: 25px;
        height: 3px;
        background-color: #45c8dc;
    }

    .navigation .add-new-issue .add-new-issue__item:nth-of-type(2) {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .navigation .open-toolbar:hover, .navigation .add-new-issue:hover {
        background-color: #ffffff;
        -webkit-box-shadow: 0px 3px 0 0 #eaeaea;
        -moz-box-shadow: 0px 3px 0 0 #eaeaea;
        box-shadow: 0px 3px 0 0 #eaeaea;
    }

    .functions-header h2 {
        background-color: #fff;
        color: #282a32;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 3px;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 23px;
        padding-right: 0;
    }

    .functions-header h2 a {
        margin-left: 74px;
    }

    .functions-header h2 a:hover {
        color: #282a32;
    }

    .functions-header h2 .container {
        background-color: #fff;
        width: 87%;
        margin-top: 25px;
    }

    .functions-header h2 .filter {
        border: 1px solid #eaeaea;
        border-radius: 3px;
    }

    .sub-category {
        width: 100%;
        background-color: #fff;
        border: none;
    }

    .sub-category h3 {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #282a32;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .sub-category a {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #282a32;
        text-transform: none;
        height: 34px;
        line-height: 34px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 14px;
    }

    .sub-category a span {
        display: inline-block;
        float: right;
        width: 40px;
        height: 25px;
        line-height: 25px;
        border-radius: 15px;
        background-color: #03d7a2;
        margin-top: 4px;
        color: #fff;
    }

    .sub-category a:hover {
        background-color: #f4f6f7;
        color: #282a32;
    }

    .sub-category a:hover span {
        color: #fff;
        background-color: #03d7a2;
    }

    /*body title*/


    .issues-overview {
        margin: 0;
        max-width: none;
    }

    .issues-overview h3 span {
        background-color: transparent;
    }

    .issues-overview h3 .header {
        display: block;
        width: 100%;
        text-align: center;
        margin: 7px auto 0;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 33px;
    }

    .issues-overview h3 .results {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto 7px;
    }

    .due-date-divider {
        margin: 14px auto;
    }

    .due-date-divider span {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 140px;
        background-color: #f8f9fb;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: normal;
        line-height: 18px;
        text-align: center;
        color: #a1a3a8;
    }

    /*search result*/
    .icon-wrapp{
        float: right;
        clear: both;
        margin-top: 15px;
    }

    .issue-has-conversation,
    .issue-has-submitted-forms,
    .issue-unread,
    .issue-has-attachments,
    issue-has-contacts,
    .issue-has-unread-forms,
    .issue-has-contacts,
    .issue-has-unread-conversation{
        margin-left: 5px;
    }

    .issue-s{
        min-height: 89px;
        background-color: #fff;
    }

    .issue-item .issue-description {
        width: 69em;
        min-height: 40px;
    }

    .issue-actions div {
        min-width: 16em;
        min-height: 89px;
    }

    .issue-item .due-date {
        background-color: transparent;
    }

    .issue-item .creator, .issue-item .meta {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #282a32;
    }

    .issue-item .meta {
        font-weight: normal;
        font-size: 13px;
    }

    .issue-actions .updated {
        background-color: #03d7a2;
        padding: 6px 27px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .issue-actions span {
        text-align: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
    }

    .issue-item.overdue .due-date,
    .issue-item.set .due-date{
        background-color: #e44e4a;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 13px;
    }

    .issue-item.set .due-date{
        background-color: #03d7a2;
    }

    .issue-item .due-date span {
        font-size: 21px;
    }

    .issue-item:hover {
        background-color: transparent;
    }

    .issue-list .ng-isolate-scope {
        width: 61%;
        margin: 25px auto;
    }

    .issue-item .meta {
        float: right;
        margin-left: 25px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 14px;
        color: #a1a3a8;
    }

    .issue-description .ng-scope {
        float: right;
    }

    .issue-description .assigned {
        float: none;
        display: inline-block;
    }

    /*Conversation*/
    .layout-2 .content-primary {
        width: 70%;
        border-top: 1px solid #eaeaea;
        margin-top: 86px;
        padding: 23px 0 23px 48px;
    }

    .layout-2 .content-secondary {
        width: 30%;
        border: 1px solid #eaeaea;
        margin-top: 86px;
        background-color: #f2f4f5;
        padding: 12px 30px;
    }

    .participants span {
        background-color: #03d7a2;
        float: right;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        padding: 11px 14px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .participants .add-participant {
        background-color: transparent !important;
        float: none;

    }

    .participants .add-participant .add-participant__item-add {
        color: #03d7a2;
        text-transform: uppercase;
        background-color: transparent;
        margin: 0;
        float: none;

    }

    .participants .icon-cancel:active, .participants .icon-cancel:focus, .participants .icon-cancel:hover {
        color: #fff;
    }

    .m h2 {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 16px;
        color: #282a32;
        text-transform: uppercase;
    }

    .m h3{
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 14px;
        color: #282a32;
        text-transform: uppercase;
    }

    .m-c ul li a span {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        color: #282a32;
        text-transform: uppercase;
    }
    .m-c ul li a{
        display: inline-block;
    }
    .section-item.sel, .section-item.sel a {
        color: #03d7a2;
    }

    .convo-input .text textarea {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: normal;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #eaeaea;
    }

    .convo-input .upload a, .convo-input .upload div {
        background-color: transparent;
        color: #a4a6ab;
    }

    .convo-input .upload a:focus, .convo-input .upload a:hover, .convo-input .upload div:focus, .convo-input .upload div:hover {
        background-color: transparent;
    }

    .convo-input .send button,
    .issue-body .send button {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        padding: 24px 48px;
        line-height: 1px;
        background-color: #03d7a2;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .convo-input .send button:hover,
    .issue-body .send button:hover {
        color: #03d7a2;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 1px 0 #eaeaea;
        -moz-box-shadow: 0 2px 1px 0 #eaeaea;
        box-shadow: 0 2px 1px 0 #eaeaea;
    }

    .zebra-list {
        float: left;
        overflow: hidden;
    }

    .m-c .zebra-list li {
        display: block;
        margin-right: 33px;
        background-color: transparent;
        padding: 0 15px 0 0;
        margin-bottom: 5px;
        border: none;

    }

    .m-c .zebra-list a, .convo-input .zebra-list a{
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #282a32;
        margin-left: 5px;
        float: left;
        border: none;
    }

    .m-c .zebra-list li .icon-cancel, .convo-input .zebra-list li .icon-cancel {
        color: #a1a3a8;
        font-size: 10px;
    }

    .note-meta .zebra-list a, .convo-input .zebra-list a{
        float: none;
    }

    form>div:last-of-type {
        margin-bottom: 10px;
        overflow: hidden;
    }

    .note-posted-by {
        background: transparent;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 11px;
        color: #a1a3a8;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .note-posted-by .note-timestamp {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 11px;
        color: #a1a3a8;
        letter-spacing: normal;
    }

    .note-body {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: normal;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #eaeaea;
    }

    .form-sections {
        border-bottom: 1px solid #eaeaea;
    }

    .row .text input, .row textarea {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #eaeaea;
    }

    .caselog-filter {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 15px;
        color: #a1a3a8;
    }

    form label {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #282a32;
    }

    .chosen-container {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #eaeaea;
    }

    .select select:not([multiple]) {
        background-image: url("../i/icon_arrow.png");
        background-position: 95% 50%;
    }

    .chosen-container-active.chosen-with-drop a.chosen-single, .chosen-container-single a.chosen-single {
        background-image: url("../i/icon_arrow.png");
        background-position: 98% 50%;
    }

    .select .chosen-container .chosen-results li.highlighted {
        background-color: #03d7a2;
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #04d7a6), color-stop(90%, #03d7a2));
        background-image: -webkit-linear-gradient(#04d7a6 20%, #03d7a2 90%);
        background-image: linear-gradient(#04d7a6 20%, #03d7a2 90%);
        color: #fff;
    }

    button, input[type=submit], input[type=button] {
        background-color: #03d7a2;
    }

    button:focus, button:hover {
        background-color: transparent;
        color: #03d7a2;
    }

    a.btn {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        padding: 24px 48px;
        line-height: 1px;
        background-color: #03d7a2;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    a.btn:hover {
        color: #03d7a2;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 1px 0 #eaeaea;
        -moz-box-shadow: 0 2px 1px 0 #eaeaea;
        box-shadow: 0 2px 1px 0 #eaeaea;
    }

    .toolbar a.btn {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #fff;
        padding: 12px 14px;
        line-height: normal;
        background-color: #03d7a2;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-align: left;
        min-width: 102px;
    }

    .file-input-button {
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #fff;
        padding: 4px 7px;
        line-height: normal;
        background-color: #03d7a2;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-align: left;
        cursor: pointer;
    }

    .btn.dropdown + ul {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #fff;
        padding: 12px 14px;
        line-height: normal;
        background-color: #03d7a2;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-align: left;
    }

    .toolbar .buttons li ul {
        padding: 0;
    }

    .toolbar a.btn:hover {
        color: #03d7a2;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 1px 0 #eaeaea;
        -moz-box-shadow: 0 2px 1px 0 #eaeaea;
        box-shadow: 0 2px 1px 0 #eaeaea;
    }

    .icon-direction.downwards {
        float: right;
    }

    .toolbar .buttons li {
        margin-right: 5px;
    }

    .toolbar .buttons li:last-child {
        margin-right: 0;
    }

    .sidebar-group-divider {
        margin-left: -8px;
        margin-right: 0;
        margin-bottom: 12px;
        width: 104%;
        background-color: #eaeaea;
        height: 1px;
    }

    .ng-isolate-scope {
        width: 100%;
    }

    .content-secondary .m h3 {
        font-weight: bold;
    }

    .m-c li {
        overflow-y: auto;
        max-height: 132px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        padding: 11px 13px;
    }

    .m-c li::-webkit-scrollbar {
        width: 7px;
        background-color: #fff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .m-c li::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #04d7a6;
        box-shadow: 0px 1px 1px #fff inset;
    }

    .m-c li::-webkit-scrollbar-thumb:hover {
        border-width: 1px 1px 1px 2px;
        border-color: #fff;
        background: #04d7a6;
    }

    .m-c li::-webkit-scrollbar-button {
        width: 10px;
        height: 0;
    }

    .m-convos .date {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 14px;
        line-height: 32px;
        color: #a1a3a8;
    }

    .m-c .collapsedBasic {
        float: right;
        margin-right: 3px;
        display: block;
        text-align: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 15px;
        line-height: 32px;
        color: #a1a3a8;
        background-color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 11px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .m-c .collapsedBasic:hover{
        color: #fff;
        background-color: #a1a3a8;
    }

    .convo-status {
        top: 0;
    }

    .m .action-btn,
    .convo-status [class*=icon-] {
        line-height: 32px;
        font-size: 15px;
        color: #03d7a2;
    }

    .m .action-btn{
        margin-left: 10px;
    }

    .convo-status [class*=icon-]:hover, .m .action-btn:hover [class*=icon-] {
        color: #03d7a2;
    }

    .m .action-btn [class*=icon-] {
        color: #03d7a2;
    }

    .left, .right {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #282a32;
    }

    .left-sidebar {
        color: #a1a3a8;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
    }

    .right-sidebar {
        color: #282a32;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-transform: none;
    }

    .submit-area button {
        color: #fff;
    }

    .submit-area button:hover {
        color: #03d7a2;
    }

    .select .select2-container .select2-choice .select2-arrow b {
        background: url("../i/icon_arrow.png") no-repeat 10% 50%;
    }

    .select .select2-container .select2-choice .select2-arrow {
        background: #fff;
        border: none;
    }
    .select2-drop{
        height: 280px;
    }
    .m .select2-results{
        max-height: 100%;
    }

    .select2-results li{
        max-height: inherit;
    }

    .select .select2-drop-active .select2-results li,
    .select2-container .select2-results li {
        height: inherit;
    }

    .select .select2-results .select2-highlighted,
    .select2-container .select2-results .select2-highlighted {
        background: #03d7a2;
    }

    .select .select2-drop-active {
        border: none;
    }

    .m-c .select2-container-multi.select2-container-active .select2-choices {
        border: none;
    }

    .m-c .select2-drop-active {
        border: none;
    }

    .m-c .convo-status li {
        height: inherit;
    }

    .convo-status [class*=icon-], .m .action-btn {
        border: none;
    }

    .btn.inactive, input.btn.inactive {
        background-color: #03d7a2;
        color: #fff;
        cursor: not-allowed;
    }

    a.btn:active, a.btn:focus, a.btn:hover, input.btn:active, input.btn:focus, input.btn:hover {
        background-color: #03d7a2;
        color: #fff;
    }

    .btn.inactive:hover {
        color: #fff;
    }

    .error-ng-invalid-pattern {
        color: red;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 15px;
        text-decoration: underline;
    }

    .form-name {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 32px;
        color: #282a32;
        text-decoration: none;
    }

    .ui-select-container.select2-container-multi .select2-choices .select2-search-choice {
        height: inherit;
        background-color: #03d7a2;
        color: #fff;
    }


    .row textarea::-webkit-scrollbar {
        width: 7px;
        background-color: #eeeeee;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .row textarea::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #04d7a6;
        box-shadow: 0px 1px 1px #fff inset;
    }

    .row textarea::-webkit-scrollbar-thumb:hover {
        border-width: 1px 1px 1px 2px;
        border-color: #d8d8d8;
        background: #03cb97;
    }

    .row textarea::-webkit-scrollbar-button {
        width: 7px;
        height: 0;
    }

    .m-status .priority-color {
        top: 58%;
        right: 14%;
        width: 13px;
        height: 13px;
        z-index: 50;
    }

    .caselog-filter-length .caselog-filter{
        float: left;
    }

    .m-status .priority-color-collapsed{
        width: 13px;
        height: 13px;
        top: 5px;
        right: 13%;
        position: absolute;
    }

    .select2-container-multi .select2-choices .select2-search-field{
        width: 100%;
        clear: both;
    }

    .form-history{
        display: block;
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 10px auto;
    }

    .form-history-sections{
        display: block;
        width: 100%;
        background-color: #03d7a2;
        color: #fff;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    }
    .section-history-item{
        background-color: transparent;
        display: block;
        width: 100%;
    }
    .form-history-field{
        display: block;
        width: 100%;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: #0d3349;
    }

    .form-history-submitted{
        margin-top: 15px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: #9f9f9f;
    }

    .note-meta .m-attachments .icon-attach{
        color: #03d7a2;
    }

    .convo-status{
        right: 0;
    }

    /*Modal Windows*/
    .modal .modal-dialog{
        background-color: #03d7a2;
    }
    .modal .modal-header h3,
    .modal .modal-content h4{
        color: #fff;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    }
    .modal .modal-close{
        color: #fff;
    }
    .modal .modal-content{
        color: #fff;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    }
    tbody th, tbody td{
        background-color: #fff;
        color: #0d3349;
    }

    .modal .dialog-submit button{
        color: #03d7a2;
        background-color: #fff;
    }

    .picker  .picker__select--month, .picker .picker__select--year{
        padding: 0 .5em;
    }

    .picker .picker__select--month:focus, .picker .picker__select--year:focus{
        border-color: #03d7a2 !important;
    }

    .picker--focused .picker__day--selected,
    .picker__day--selected,
    .picker__day--selected:hover{
        cursor: pointer;
        color: #fff;
        background: #03b48b !important;
        border-color: #03d7a2 !important;
    }

    .picker--focused .picker__day--highlighted, .picker__day--highlighted:hover {
        cursor: pointer;
        color: #fff !important;
        background: #03b285 !important;
        border-color: #03d7a2 !important;
    }

    .picker .picker--focused .picker__day--highlighted,
    .picker .picker__day--highlighted:hover {
        cursor: pointer;
        color: #fff;
        background: #03f8c2 !important;
        border-color: #03d7a2 !important;
    }

    .picker .picker__day--infocus:hover, .picker .picker__day--outfocus:hover {
        cursor: pointer;
        color: #fff;
        background: #03f8c2 !important;
        border-color: #03d7a2 !important;
    }

    .picker .picker--focused .picker__day--selected,
    .picker .picker__day--selected,
    .picker .picker__day--selected:hover,
    .picker .picker__nav--next:hover,
    .picker .picker__nav--prev:hover,
    .picker .picker__nav--next:hover,
    .picker .picker__nav--prev:hover{
        background: #03f8c2;
        border-color: #03d7a2 !important;
        color: #fff !important;
    }

    .picker__day--today:before{
        border-top: .5em solid #fff !important;
    }
    .picker__button--today:before {
        border-top: .66em solid #03d7a2 !important;
    }

    .picker__nav--next:before{
        border-left: .75em solid #03d7a2 !important;
    }

    .picker__nav--prev:before{
        border-right: .75em solid #03d7a2 !important;
    }

    .picker .picker__button--clear:hover,
    .picker .picker__button--close:hover,
    .picker .picker__button--today:hover,
    .picker .picker__button--clear:focus,
    .picker .picker__button--close:focus,
    .picker .picker__button--today:focus{
        cursor: pointer;
        background: #03f8c2;
        border-color: #03d7a2 !important;
        color: #fff !important;
    }

    .picker__day--highlighted{
        border-color: #03d7a2 !important;
    }

    .m-convos li .block-link{
        display: inline-block;
    }
    .m-convos li .block-link:hover{
        display: inline-block;
    }

}













@media screen and (max-width: 1500px){
    .toolbar a.btn{
        font-size: 12px;
        padding: 10px 7px;
    }
    .toolbar .buttons li {
        margin-right: 6px;
    }
    .layout-2 .content-secondary{
        min-width: 390px;
    }

    .layout-2 .content-primary{
        width: -webkit-calc(100% - 400px);
        width: -moz-calc(100% - 400px);
        width: calc(100% - 400px);
    }
    .issue-list .ng-isolate-scope{
        width: 90%;
    }
}









@media screen and (max-width: 900px){
    .client-name{
        display: block;
        margin: 5px auto 15px;
        float: none;
    }
    .main-search{
        width: 90%;
    }
    .user-area{
        position: relative;
        top: 0;
        right: 0;
        display: block;
        margin: 5px auto;
    }

    .issue-item{
        margin: 0 0 3px 0;
    }

    .ng-isolate-scope{
        width: 100%;
    }

    .layout-2 .content-secondary{
        display: block;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    .layout-2 .content-primary{
        float: none;
        display: block;
        width: 90%;
        margin: 0 auto;
        padding-left: 50px;
    }

    .issue-list .ng-isolate-scope{
        width: 100%;
    }
    .main-body{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 640px) {
    .main-search .search-filter .select-wrapp{
        float: none;
        display: block;
        width: 90%;
        margin: 10px auto;
        padding: 0;
    }

    .main-search .search-filter .select-wrapp:last-child{
        padding-left: 0;
    }

    .main-search .search-filter .submit-container{
        margin-top: 0;
    }

    .functions-menu{
        width: 100%;
    }
    .navigation{
        background-color: #fff;
    }
    .navigation .add-new-issue .struct{
        display: none;
    }
    .functions-header h2 .container{
        width: 90%;
        margin: 0 auto;
    }

    .functions-header h2 .filter{
        margin-bottom: 15px;
        margin-right: 0;
    }
    .functions-header h2 a {
        margin: 0;
        display: block;
        text-align: center;
    }
    .navigation .add-new-issue, .navigation .open-toolbar{
        display: none;
    }
    .toolbar a.btn{
        font-size: 10px;
        padding: 10px 6px;
    }
    .toolbar .buttons li{
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        min-width: 100px;
        display: block;
        float: left;
    }
    .btn.dropdown+ul{
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .main-search{
        position: static;
    }
    .main-search .search-filter{
        top: 180px;
        min-width: 320px;
    }
    .main-search .search-filter::before{
        right: 25.5%;
    }
    .layout-2 .content-secondary{
        width: 100%;
        min-width: 100%;
    }

    .layout-2 .content-primary{
        width: 100%;
        padding-left: 0;
    }
    .caselog-count-sidebar, .caselog-input .send button{
        float: none;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 380px) {
    .header-body {
        padding: 24px 0 24px;
    }
    .main-search{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 320px){
    .toolbar a.btn{
        font-size: 15px;
        padding: 10px 8px;
    }
    .toolbar .buttons li{
        margin: 10px auto;
        float: none;
        width: 90%;
    }
    .btn.dropdown+ul{
        width: 180px;
    }

    .toolbar .buttons li:last-child{
        margin: 10px auto;
        float: none;
        width: 90%;
    }

    .main-search .search-filter{
        min-width: 100%;
        padding: 18px 0 28px
    }

    .main-search .search-filter::before{
        right: 47%;
    }
}