@media screen, projection {
    /*Based style*/
    html {
        background-color: #f8f9fb;
    }

    .body {
        background-color: #f8f9fb;
    }

    .main-body {
        background-color: #f8f9fb;
    }

    /*Header New Stylesheets*/
    .header {
        border-top: none;
        background-color: #343d5c;
    }

    .header-body {
        padding: 24px 52px 24px 35px;
    }

    .header-body .logo {
        background-image: url("../i/icon_logo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 193px;
        height: 52px;
    }

    .client-name {
        margin-top: 0;
    }

    /*Search Field*/
    .main-search {
        margin-top: 0;
    }

    .main-search form {
        height: 100%;
    }

    .main-search form fieldset {
        height: 100%;
    }

    .main-search input[type=search] {
        height: 100%;
        background-color: #262b40;
        padding: 23px 99px 23px 25px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .icon-search:before {
        font-size: 22px;
    }

    .main-search input[type=search]::-webkit-input-placeholder { /*placeholder styles*/
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .main-search input[type=search]::-moz-placeholder {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .main-search input[type=search]:-moz-placeholder {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .main-search input[type=search]:-ms-input-placeholder {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: #9395a0;
    }

    .main-search button[type="submit"] {
        background-color: #03d7a2;
        width: 58px;
        height: 100%;
    }

    .main-search button[type="submit"]:hover {
        background-color: #fff;
    }

    .main-search button[type="submit"]:hover::before {
        color: #03d7a2;
    }

    /*Filter in Form*/
    .main-search .icon-filter {
        background-image: url(../i/icon_filter.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 14px;
        width: 18px;
        top: 23px;
        right: 75px;
        transition: background .2s;
    }

    .main-search .icon-filter:hover {
        background-image: url(../i/icon_filter_hover.png);
    }

    .main-search .icon-filter:before {
        display: none;
    }

    /*User Area*/
    .user-area a {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }

    .logged-in i {
        margin-right: 0;
        margin-left: 10px;
        font-size: 18px;
        background-image: url("../i/icon_profile.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .user-area .user-actions {
        background-color: #03d7a2;
        width: 231px;
    }

    /*Issue Banner*/
    .issue-banner {
        min-height: 41px;
        background-color: #03d7a2;
    }

    .issue-banner h2 {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 41px;
        text-align: center;
    }

    /*Search Filter*/
    .main-search .search-filter{
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(0,0,0,.1);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 18px 32px 28px;
        position: absolute;
        right: 0;
        top: 85px;
        text-align: left;
        width: 690px;
        z-index: 1000;
    }

    .main-search .search-filter::before{
        content: "";
        position: absolute;
        top: -13px;
        right: 72px;
        display: block;
        width: 26px;
        height: 26px;
        background-image: url("../i/bg_triangle.png");
    }

    .main-search .search-filter::after{
        content: "";
        position: absolute;
        top: 45px;
        right: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #eaeaea;
    }

    .main-search .search-filter .select-wrapp {
        width: 50%;
        float: left;
    }

    .main-search .search-filter .select-wrapp:first-child{
        padding-right: 25px;
    }

    .main-search .search-filter .select-wrapp:last-child{
        padding-left: 25px;
    }

    .title-divider {
        background: none;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 12px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
    }

    .main-search .search-filter .title-divider span{
        background-color: transparent;
    }

    .main-search .search-filter label{
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #a1a3a8;
        text-transform: uppercase;
        margin-top: 17px;
        display: block;
        margin-bottom: 9px;
    }

    .main-search .search-filter .chosen-container-single .chosen-single {
        position: relative;
        display: block;
        overflow: hidden;
        padding: 0 0 0 8px;
        background: #fff url(../i/icon_arrow.png) no-repeat 95% 50%;
        color: #939498;
        line-height: 32px;
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
    }

    .main-search .search-filter .ui-select-container.select2-container-multi .select2-choices {
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
        background-color: #f4f6f7;
        cursor: pointer;
    }

    .select2-container-multi .select2-choices .select2-search-field input{
        cursor: pointer;
    }

    .select .chosen-container-single .chosen-single abbr {
        top: 10px;
        right: 27px;
    }

    .main-search .search-filter .set-due-date input{
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
        background-color: #f4f6f7;
        display: inline-block;
        width: 140px;
        cursor: pointer;
    }

    .main-search .search-filter .set-due-date input:first-child{
        margin-right: 4px;
    }

    .main-search .search-filter .set-created-date input{
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
        background-color: #f4f6f7;
        display: inline-block;
        width: 140px;
        cursor: pointer;
    }
    .main-search .search-filter .set-created-date input:first-child{
        margin-right: 4px;
    }

    .main-search .search-filter .select.group>div, .main-search .search-filter .select.sort>div{
        display: block;
        width: 100%;
    }

    .main-search .search-filter .select.group .group-container, .main-search .search-filter .select.sort .sort-container{
        margin-left: 0;
        width: 100%;
    }

    .main-search .search-filter .select select {
        border: 1px solid #eaeaea;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 32px;
        color: #939498;
    }

    .main-search .search-filter .select select:not([multiple]) {
        max-height: 33px;
        background: #fff url(../i/icon_arrow.png) no-repeat 95% 50%;
    }

    .group-container .group-asc, .group-container .group-desc,
    .sort-container .sort-asc, .sort-container .sort-desc{
        display: inline-block;
        width: 50%;
        position: relative;
    }

    .group-container .group-asc input,
    .group-container .group-desc input,
    .sort-container .sort-asc input,
    .sort-container .sort-desc input{
        margin: 0;
        display: none;
    }

    .group-container .group-asc label[for="group-asc"],
    .group-container .group-desc label[for="group-desc"],
    .sort-container .sort-asc label[for="sort-asc"],
    .sort-container .sort-desc label[for="sort-desc"]{
        margin-left: 25px;
    }

    .group-container .group-asc label,
    .group-container .group-desc label,
    .sort-container .sort-asc label,
    .sort-container .sort-desc label{
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 13px;
        text-transform: none;
        color: #282a32;
        margin-top: 10px;
        margin-left: 11px;
        display: inline-block;
        cursor: pointer;
    }

    .group-container .group-asc input+span,
    .group-container .group-desc input+span,
    .sort-container .sort-asc input+span,
    .sort-container .sort-desc input+span{
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border: 1px solid rgba(0,0,0,.3);
        outline: none;
        margin:5px;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 100%;
        position: absolute;
        top: 8px;
        cursor: pointer;
    }

    .group-container .group-asc input:checked+span:before,
    .group-container .group-desc input:checked+span:before,
    .sort-container .sort-asc input:checked+span:before,
    .sort-container .sort-desc input:checked+span:before{
        content: "";
        display: block;
        background: #03d7a2;
        border-radius: 100%;
        width: 7px;
        height: 7px;
        margin: 3px;
        pointer-events: none;
        cursor: pointer;
    }

    .main-search .search-filter .select.group a, .main-search .search-filter .select.sort a{
        right: 32px;
    }

    .main-search .search-filter .submit-container{
        margin-top: 330px;
    }
    .main-search .search-filter .submit-container button{
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 57px;
        color: #a1a3a8;
        text-transform: uppercase;
        float: right;
        width: 46%;
        margin-right: 2%;
        height: 57px;
        padding: 0;
        background-color: transparent;
    }
    .main-search .search-filter .submit-container button:before{
        display: none;
    }

    .main-search .search-filter .submit-container .icon-search{
        transition: all .2s;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: #03d7a2;
        color: #fff;
    }

    .main-search .search-filter .submit-container .icon-search:hover{
        background-color: #fff;
        color: #03d7a2;
        transition: background .2s;
        border-color: #eaeaea;
    }

    .main-search .search-filter .submit-container .icon-cancel{
        transition: all .2s;
    }

    .main-search .search-filter .submit-container .icon-cancel:hover{
        color: #03d7a2;
    }


    /*.chosen-container .chosen-results li.highlighted {*/

    .main-search .search-filter .chosen-container .chosen-results li.highlighted{
        background-color: #03d7a2;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%, #04d7a6),color-stop(90%, #03d7a2));
        background-image: -webkit-linear-gradient(#04d7a6 20%,#03d7a2 90%);
        background-image: linear-gradient(#04d7a6 20%,#03d7a2 90%);
        color: #fff;
    }
    .main-search .search-filter .select2-highlighted{
        background-color: #03d7a2;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%, #04d7a6),color-stop(90%, #03d7a2));
        background-image: -webkit-linear-gradient(#04d7a6 20%,#03d7a2 90%);
        background-image: linear-gradient(#04d7a6 20%,#03d7a2 90%);
        color: #fff;
    }

    .select2-results::-webkit-scrollbar{
        width: 10px;
        background-color: #eeeeee;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .select2-results::-webkit-scrollbar-thumb{
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background:#04d7a6;
        box-shadow:0px 1px 1px #fff inset;
    }

    .select2-results::-webkit-scrollbar-thumb:hover{
        border-width: 1px 1px 1px 2px;
        border-color: #d8d8d8;
        background: #03cb97;
    }

    .select2-results::-webkit-scrollbar-button {
        width:10px;
        height: 0;
    }
    .main-search .search-filter .select2-drop{
        margin-top: 0;
    }
    .main-search .search-filter .select2-drop-active{
        border-color: #eaeaea;
        box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    }
    .main-search .search-filter .select2-results{
        margin: 0 4px 4px 0;
    }

    .main-search .search-filter .hasCustomSelect option:hover{
        background-color: #03d7a2;
        color: #fff;
    }

    .main-search .search-filter .select.group a, .main-search .search-filter .select.sort a{
        position: static;
        font-size: 13px;
        color: #939498;
    }

    /*drop li*/
    .chosen-container-active.chosen-with-drop a.chosen-single, .chosen-container-active.chosen-with-drop a.chosen-single+.chosen-drop, .chosen-container-active.chosen-with-drop ul.chosen-choices, .chosen-container-active.chosen-with-drop ul.chosen-choices+.chosen-drop{
        border: 1px solid #eaeaea;
    }

    .chosen-container .chosen-results li.group-option,
    .chosen-container .chosen-results li.group-result,
    .chosen-container .chosen-results li.active-result,
    .select2-results li.select2-result-with-children > .select2-result-label{
        color: #696a6e;
    }

    .chosen-container .chosen-results li.group-result,
    .select2-results li.select2-result-with-children > .select2-result-label{
        border-bottom: 1px solid #eaeaea;
    }

    .chosen-container-single .chosen-search input[type=text]{
        border-radius: 4px;
    }

    .chosen-container .chosen-results::-webkit-scrollbar{
        width: 10px;
        background-color: #eeeeee;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .chosen-container .chosen-results::-webkit-scrollbar-thumb{
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background:#04d7a6;
        box-shadow:0px 1px 1px #fff inset;
    }

    .chosen-container .chosen-results::-webkit-scrollbar-thumb:hover{
        border-width: 1px 1px 1px 2px;
        border-color: #d8d8d8;
        background: #03cb97;
    }

    .chosen-container .chosen-results::-webkit-scrollbar-button {
        width:10px;
        height: 0;
    }

    /*MENU*/

    .functions-header{
        background-color: #fff;
    }
    .functions-menu{
        margin-left: -236px;
        width: 333px;
    }
    .functions-menu.open .sub-categories{
        width: 333px;
    }
    .functions-menu .functions-header .open-toolbar{
        position: absolute;
        padding-top: 0;
        background-color: #fff;
        right: 20px;
        top: 15px;
    }
    .functions-menu .functions-header .open-toolbar .open-toolbar__item{
        position: absolute;
        left: 12px;
        display: block;
        width: 25px;
        height: 3px;
        background-color: #04daa5;
        transition: all .2s;
    }

    .functions-menu .functions-header .open-toolbar .open-toolbar__item:first-of-type{
        top: 18px;
    }

    .functions-menu .functions-header .open-toolbar .open-toolbar__item:nth-of-type(2){
        top: 26px;
    }

    .functions-menu .functions-header .open-toolbar .open-toolbar__item:nth-of-type(3){
        bottom: 17px;
    }

    .main .navigation .functions-menu .functions-header .open-toolbar:hover .open-toolbar__item:first-of-type{
        top: 19px;
    }

    .main .navigation .functions-menu .functions-header .open-toolbar:hover .open-toolbar__item:nth-of-type(2){
        top: 26px;
    }

    .main .navigation .functions-menu .functions-header .open-toolbar:hover .open-toolbar__item:nth-of-type(3){
        bottom: 18px;
    }

    .functions-header h2{
        background-color: #fff;
        color: #282a32;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 3px;
        width: 100%;
        margin-bottom: 5px;
    }

    .functions-header h2 a:hover{
        color: #282a32;
    }

    .functions-header h2 .container{
        background-color: #fff;
        width: 87%;
    }

    .functions-header h2 .filter{
        border: 1px solid #eaeaea;
        border-radius: 3px;
        margin-top: 18px;
    }
    .sub-category{
        width: 100%;
        background-color: #fff;
    }

    .sub-category h3{
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #282a32;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .sub-category a{
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #282a32;
        text-transform: none;
        height: 34px;
        line-height: 34px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 14px;
    }

    .sub-category a span{
        display: inline-block;
        float: right;
        width: 40px;
        height: 25px;
        line-height: 25px;
        border-radius: 15px;
        background-color: #03d7a2;
        margin-top: 4px;
        color: #fff;
    }

    .sub-category a:hover{
        background-color: #f4f6f7;
        color: #282a32;
    }
    .sub-category a:hover span{
        color: #fff;
        background-color: #03d7a2;
    }

}